/*!
 * Fi-ware web style
 *


@font-face {
    font-family: "Comfortaa_Regular";
    src: url("assets/fonts/comfortaa_regular-webfont.eot");
    src: url("assets/fonts/comfortaa_regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("assets/fonts/comfortaa_regular-webfont.woff") format("woff"),
         url("assets/fonts/comfortaa_regular-webfont.ttf") format("truetype"),
         url("assets/fonts/comfortaa_regular-webfont.svg#ComfortaaRegular") format("svg");
    font-family: "OpenSansRegular";
    src: url("assets/fonts/opensans-regular-webfont.eot");
    src: url("assets/fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("assets/fonts/opensans-regular-webfont.woff") format("woff"),
         url("assets/fonts/opensans-regular-webfont.ttf") format("truetype"),
         url("assets/fonts/opensans-regular-webfont.svg#OpenSansRegular") format("svg");
         

} */
body {
  margin: 0;
  font-family:  "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
  padding-right: 20px;
  padding-left: 20px;
} 
.logo{
  margin-left: -20px;
}
.text-logo{
  margin-left: 0px;
}
.dashboard{text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.10);}

#menu-index-img {
    padding: auto;
    background-image:url(../img/boceto2-04.png);
    height:277px;
}

.circulo {
    background-color: rgba(0,0,0, 0.8);
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}
.menu-index-xl {
    width:116px;
    height:116px;
    font-size:32px; 
    text-width: bold;
    line-height: 310%;
    float:left;
    margin-lef: 25px;
}
.text-index-xl{
    color:#FFF;
    text-align:center;
    padding-top:8px;
}
.elasticity {
    margin-top: 70px;
    margin-left: 72px;
    margin-right: 110px;
}
.sercurity {
    margin-top: 140px;
}
.monitor {
    margin-top: 211px;
    margin-left: -60px;
}
.services {
    margin-lef: 9px;
    margin-top:152px;
}
.snaps {
    margin-top:224px;
    margin-lef:19px;
}
.management {
    margin-top: 110px;
    margin-left: -40px;
}
.vdata {
    margin-top: 14px;
    margin-left: -39px;
}
.vmachine {
    margin-top: 120px;
    margin-left: -34px;
}
.cpu {
    margin-top: 200px;
    margin-left: -36px;
}

.ram {
    margin-top:187px;
}
.menu-index-l {
    width:101px;
    height:101px;
    font-size:15px;
    float:left;
}
.text-index-l{
    color:#FFF;
    text-align:center;
    padding-top:40px;
}
.menu-index-m {
    width:75px;
    height:75px;
    font-size:12px;
    float:left;
}
.text-index-m{
    color:#FFF;
    text-align:center;
    padding-top:25px;
    
}
.menu-index-s {
    width:49px;
    height:49px;
    font-size:10px;
    float:left;
}
.text-index-s{
    color:#FFF;
    text-align:center;
    padding-top:15px;
}

.boxy-grey {
    background-color: #333333;
    border-radius: 6px;
    float: right;
    font-size: 12px;
    height: 66px;
    margin-top: 72px;
    margin-left:-20px;
    width: 332px;
    padding-top:4px;
    padding-right:6px;
    padding-left:28px;
    margin-bottom: 10px;
}

#index, #dashboard, #formulary{margin-left:12%}
.blue{color:#0093C6;}
.blue-ligth{color:#009FD6;}
.blue-dark{color:#3E80AD;}
.gray{color:#999}
.gray-ligth{color:#CCC}
.gray-dark{color:#666}
.white{color:#FFF;}
.line{ background-color:#CCC; padding-left:3px; padding-right:3px; height:1px; width:auto;}

.text-index-xl a :hover {
    color:#fff;
    text-shadow:#f5f5f5 0px -2px 2px;
    }
.text-index-l a :hover {
    color:#fff;
    text-shadow:#f5f5f5 0px -2px 2px;
    }
.text-index-m a :hover {
    color:#fff;
    text-shadow:#f5f5f5 0px -2px 2px;
    }
.text-index-s a :hover {
    color:#fff;
    text-shadow:#f5f5f5 0px -2px 2px;
    }

.comfortaa{font-family:"comfortaa"}
.form-buttons{ padding-top:15px; padding-right:30px; padding-bottom:10px; float:right;}
.clear{ clear:both;}
.margin-left{margin-left:30px;}
.space{ height:10px; width:auto}
.space-double{ padding:1px; height:20px; width:auto}
.space-big{ padding:1px; height:50px; width:auto}
.space-big-double{ padding:1px; height:57px; width:auto}
.size14{ font-size:14px; line-height:0px;}
.size15{ font-size:15px; line-height:18px;}
.size18{ font-size:18px; line-height:20px;}
.size20{ font-size:20px; line-height:23px;}

.radius{ border-radius: 5px;}

.inline{ display:inline}
.inline-block{ display:inline-block}

.link-logo{
  color: #000;
  text-decoration: none;
  font-family: DsignesRegular;
  font-size: 30px;
  
}
.navbar .link-logo{
  color: #fff;
  text-decoration: none;
  font-family: DsignesRegular;
  font-size: 30px;
  
}

.big-tittle{ 
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(237,237,237,0.85) 50%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(237,237,237,0.85)), color-stop(100%,rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(237,237,237,0.85) 50%,rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(237,237,237,0.85) 50%,rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(237,237,237,0.85) 50%,rgba(237,237,237,1) 100%);
  background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(237,237,237,0.85) 50%,rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ededed',GradientType=1 );
  height:60px;
  margin-right: -20px;
  margin-bottom: 20px;
  margin-top:-10px;
  padding-top:1px;
}

.spanminus{margin-left:-30px;}
input[type="checkbox"]{margin-right:6px;}
input[type=checkbox].check_01 {display: none;}
input[type=checkbox].check_01 + label { 
    background: #fff; 
    display: inline; 
    width: 82px; 
    height: 24px; 
    background: url(img/check_01.png) 0px 0px no-repeat; 
    text-indent: -1000em; 
    margin-right:6px;
}

input[type=checkbox].check_01:checked + label { background: url(img/check_02.png) 0px -24px no-repeat;}

.btn-basic { 
  font-size: 12px;
  color: #898989;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  background-color:#FFF;
}

.btn-basic:hover,
.btn-basic:active,
.btn-basic.active {  
  border-color:#ccc; 
  background-color:#FCFDFC;
}

.btn-basic.disabled,
.btn-basic[disabled] {
  cursor: default;
  background-color: #FCFCFC;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  color:#898989;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
}

.btn-blue {
  font-size: 12px;
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0, 134, 181, 0.1);
  border: 1px solid #50BCBC;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #56CCCC #56CCCC #50BCBC;
  border-bottom-color: #4BB2B2;
  background-color:#0093C6;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue.active {
  border-color:#00CCDB; 
  background-color:#0489B7;
}

.btn-blue.disabled,
.btn-blue[disabled] {
  cursor: default;
  background-color: #3E80AD;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  border: 1px solid #50BCBC;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #56CCCC #56CCCC #50BCBC;
  border-bottom-color: #4BB2B2;
  background-color:#0093C6;
  color: #fff;
}
/** line 2556 boostrap.css**/
.btn{
  display: inline-block;
  *display: inline;
  padding: 3px 20px 2px;
  margin-bottom: 0;
  *margin-left: .3em;
  line-height: 18px;
  *line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;   
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  text-decoration:none;

}

.btn:first-child {
  *margin-left: 0;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.btn-large [class^="icon-"] {
  margin-top: 1px;
}

.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}

.btn-small [class^="icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}

.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  border:1px;
}

.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}



.btn-warning {
  background-color: #faa732;
  *background-color: #f89406;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  background-color: #da4f49;
  *background-color: #bd362f;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  background-color: #5bb75b;
  *background-color: #51a351;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  background-color: #49afcd;
  *background-color: #2f96b4;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  background-color: #414141;
  *background-color: #222222;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}



/** line 760 boostrap.css**/
input,
button,
select,
textarea {
  font-family: opensans;
}

/** line 760 boostrap.css**/
.hero-unit {
  padding: 5px;
  margin-bottom: 30px;
  background-color: #F6F6F4;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.hero-unit-black{
  padding: 5px;
  margin-bottom: 30px;
  background-color: #666666;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit h1,
.hero-unit-black h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit p {
  font-size: 13px;
  font-weight: 200;
  line-height: 15px;
  color: inherit;
}
.signin{
    margin-rigth: 6px;
    margin-top: 4px;
    width: 121px; }

.info{
    margin-left:13px;
    margin-right:12px;
    font-size:16px; }
  #sidebar{margin-bottom: -10px;}
  
.nav-collapse .nav > li {
  float:left;!important
}
