/*!
 * Fi-ware web style
 *
*/
/*
thead.fixedHeader tr {
}
}

tbody.scrollContent
{
    display: block;
    height: 262px;
    overflow: auto;
    width: 100%;
}

tbody.scrollContent tr {
  width:100%  ;
}
*/

html, body {
  height: 100%;
}

#message-resize-icon {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 6px;
}

#edit_security_group_rules {
  position: relative;
  width: 100%;
  height: 266px;
  margin-top: -31px;
}

.open {
  z-index: 10;
}

.entity_consult {
  position: absolute;
  width: 100%;
  height: 100%;
}

.entity_detail {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: 10px;
  margin-right: 10px;
  top: 51px;
  bottom: 0px;
  overflow: auto;
}

.entity_detail h4 {
  font-size: 24px;
  line-height: 2px;
}

#root {
  height: 100%;
  min-height: 600px;
  position: relative;
}

.container {
    min-height: 100%;
    height: 100%;
}
.container-view {
  position: absolute;
  bottom: 25px;
  min-height: 200px;
  top: 104px;
}

#main_content {
  height: 100%;
  position: relative;
}

.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
  position: absolute;
  left: 0px;
  width: 80%;
}

.table-striped tr td,  .wrap_text, .sbSelector:link, .sbSelector:visited, .sbSelector:hover {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
}

.footer {
  position: absolute;
  height: 20px;
  bottom: 0px;
  /*border-top: 1px solid #eeeeee;*/
  padding-top: 10px;
}

.modal .table-foot {
  margin-bottom: 0px;
}

#content {
  position: absolute;
  margin-top: 10px;
  top: 0px;
  bottom: 56px;
  right: 3px;
  left: 0px;
  box-shadow: rgb(211, 211, 211) 0px 0px 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

#logs {
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  height: 48px;
  right: 3px;
  left: 0px;
  box-shadow: rgb(211, 211, 211) 0px 0px 10px;
  border-radius: 6px;
  background-color: white;
}

.messages .alert{
  z-index: 10;
  margin-bottom: 0px;
  margin-top: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#table_head {
  position: absolute;
  top: 32px;
  height: 35px;
  border: 0;
  border-bottom: 1px solid #dddddd;
}

#table_head thead,
#table_head thead tr {
  height: 35px;
}

.table input[type=checkbox] {
  display: none;
}

.table input[type=checkbox] + label {
  content:"";
  display:inline-block;
  background-image:url(../images/checkbox.png);
  background-position: 0px 0px;
  width: 15px;
  height: 15px;
  margin-top: 1px;
  margin-bottom: -1px;
  cursor: pointer;
}

.table input[type=checkbox] + label:hover {
  background-position: -15px 0px;
}

.table input[type=checkbox]:checked + label {
  background-position: -30px 0px;
}

.table input[type=checkbox]:checked + label:hover {
  background-position: -45px 0px;
} ​

.table_header .table_actions {
  height: 23px;
}

.table {
  margin-bottom: 0px;
  margin-top: 0px;
  table-layout: fixed;
}

.table-header {
  height: 40px;
}

.table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) th {
background-color: #ffffff;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #f1f1f1;
}

td.actions_column {
  padding: 8px;
}

.table-without-margins {
  margin-top: -1px;
}

.table-bordered {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

}

.table-bordered thead {
  font-weight: bold;
}

.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.table-scrolled {
  width: 100%;
  overflow-x: hidden;
}

.table-scrolled tr {
  cursor: pointer;
}

.scrollable {
/*background-color: #f1f1f1;*/
right: 1px;
left: 0px;
overflow-y: auto;
overflow-x: hidden;
position: absolute;
top: 68px;
width: 100%;
bottom: 42px;
}

.table-foot {
  position: absolute;
  bottom: 10px;
  border: 0;
}

.tab-content-adjustable {
  position: absolute;
  padding-top: 0px;
  bottom: 0px;
  top: 51px;
  right: 0px;
  left: 0px;
}

.tab-adjustable {
  position:relative;
  height: 100%;
  overflow: hidden;
}

.table_header .table_actions a, .table_header .table_actions button {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.btn-group > .btn:first-child {
  border-top-left-radius: 0px;
}

@font-face {
    font-family: "Comfortaa_Regular";
    src: url("assets/fonts/comfortaa_regular-webfont.eot");
    src: url("assets/fonts/comfortaa_regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("assets/fonts/comfortaa_regular-webfont.woff") format("woff"),
         url("assets/fonts/comfortaa_regular-webfont.ttf") format("truetype"),
         url("assets/fonts/comfortaa_regular-webfont.svg#ComfortaaRegular") format("svg");
	font-family: "OpenSansRegular";
    src: url("assets/fonts/opensans-regular-webfont.eot");
    src: url("assets/fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("assets/fonts/opensans-regular-webfont.woff") format("woff"),
         url("assets/fonts/opensans-regular-webfont.ttf") format("truetype"),
         url("assets/fonts/opensans-regular-webfont.svg#OpenSansRegular") format("svg");


}

#initbar {
  position: absolute;
  text-align: center;
  font-size: 20px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  background: none;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 100px;
  margin-left: -200px;
  margin-top: -50px;
  overflow: visible;
}

.bar {
  top: 1px;
  left: 1px;
  position: relative;
}

.bar2 {
  border-color: black;
  border-style: solid;
  height: 18px;
  border-width: 1px;
  position: absolute;
}

.sidebar-menu {
  margin-top: 44px;
}

@media (max-width: 979px) {

.sidebar-menu {
  margin-top: 0px;
}

}

.logo{
  margin-left: -4px !important;
  float: left;
  top: 0px;
  margin-top: 44px;
}
.text-logo{
  margin-left: 0px;
}
.dashboard{
  text-shadow: 1px 0px 1px
  rgba(255, 255, 255, 0.10);
}
.signin{
  margin-rigth: 6px;
    margin-top: 4px;
    width: 121px;
}

.info{
  margin-left:13px;
  margin-right:12px;
  font-size:16px; }
  #sidebar{margin-bottom: -10px;
}

.boxy-grey {
	background-color: #333333;
    border-radius: 6px;
    float: right;
    font-size: 12px;
    height: 66px;
    margin-top: 72px;
	margin-left:-20px;
    width: 332px;
	padding-top:4px;
	padding-right:6px;
	padding-left:28px;
	margin-bottom: 10px;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w120px {
max-width: 120px;}

#index, #dashboard, #formulary{margin-left:12%}
.blue{color:#0093C6;}
.blue-ligth{color:#009FD6;}
.blue-dark{color:#3E80AD;}
.gray{color:#999}
.gray-ligth{color:#CCCCCC}
.gray-dark{color:#777777}
.white{color:#FFF;}
.line{ background-color:#CCC; padding-left:3px; padding-right:3px; height:1px; width:auto;}
.menuv{background-color: #ccc}

.text-index-xl a :hover {
	color:#fff;
    text-shadow:#f5f5f5 0px -2px 2px;
	}
.text-index-l a :hover {
	color:#fff;
    text-shadow:#f5f5f5 0px -2px 2px;
	}
.text-index-m a :hover {
	color:#fff;
    text-shadow:#f5f5f5 0px -2px 2px;
	}
.text-index-s a :hover {
	color:#fff;
    text-shadow:#f5f5f5 0px -2px 2px;
	}

.comfortaa{font-family:"comfortaa"}
.form-buttons{ padding-top:15px; padding-right:30px; padding-bottom:10px; float:right;}
.clear{ clear:both;}

.margin-left{margin-left:30px;}
.margin-bottom{margin-bottom:10px;}
.m-top{margin-top:10px;}
.m-right{margin-right:9px;}

.space{ height:10px; width:auto}
.space-double{ padding:1px; height:20px; width:auto}
.space-big{ padding:1px; height:50px; width:auto}
.space-big-double{ padding:1px; height:57px; width:auto}
.size14{ font-size:14px; line-height:0px;}
.size15{ font-size:15px; line-height:18px;}
.size18{ font-size:18px; line-height:20px;}
.size20{ font-size:20px; line-height:23px;}
.size30{ font-size:30px; line-height:28px;}

.radius{ border-radius: 5px;}

.inline{ display:inline}
.inline-block{ display:inline-block}

.link-logo{
  color: #000;
  text-decoration: none;
  font-family: DsignesRegular;
  font-size: 30px;

}
.navbar .link-logo{
  color: #fff;
  text-decoration: none;
  font-family: DsignesRegular;
  font-size: 30px;

}

.big-tittle{
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(237,237,237,0.85) 50%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(237,237,237,0.85)), color-stop(100%,rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(237,237,237,0.85) 50%,rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(237,237,237,0.85) 50%,rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(237,237,237,0.85) 50%,rgba(237,237,237,1) 100%);
  background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(237,237,237,0.85) 50%,rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ededed',GradientType=1 );
  height:60px;
  margin-bottom: 20px;
  margin-top:-37px;
  margin-right:-5px;
  padding-top:2px;
  padding-bottom:6px;
  width: 100%;
  float: right !important;
}
#sideBarTitle{padding-bottom: 10px; padding-top: 10px; padding-left: 10px;}
.no-resize{resize:none;}
/*.color-mv { background-color: #cccccc !important;}*/
.pull-left{float: left;}
.pull-right{float: right;}

#navtab { background-color: #777777;
    border-bottom-left-radius:14px;
    border-bottom-right-radius:14px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}

.main_nav {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    background-color: #ccc;
}

.main_nav a.active {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    color: #0093C6;
}
.main_nav a {
    display: block;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.main_nav a:hover {
    background-attachment: scroll;
    background-clip: border-box;
    /*background-color: #f8f8f8;*/
    background-color: #dfdfdf;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    /*border-bottom-color: #FFFFFF;*/
    border-bottom-color: #dfdfdf;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    color: #0093C6;
}
.add-on{color: #FFFFFF; text-shadow:none;}
/* input file*/

div.fileinputs {
    position: relative;
}

div.fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

input.file {
    position: relative;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 3;
}

.spanminus{margin-left:-30px;}


.btn-basic {
  font-size: 12px;
  color: #898989;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  background-color:#FFF;
}

.btn-basic:hover,
.btn-basic:active,
.btn-basic.active {
  border-color:#ccc;
  background-color:#FCFDFC;
}

.btn-basic.disabled,
.btn-basic[disabled] {
  cursor: default;
  background-color: #FCFCFC;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  color:#898989;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
}

.btn-blue {
  font-size: 12px;
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0, 134, 181, 0.1);
  border: 1px solid #50BCBC;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #56CCCC #56CCCC #50BCBC;
  border-bottom-color: #4BB2B2;
  background-color:#0093C6;
  background-image: none;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue.active {
  border-color:#00CCDB;
  background-color:#0489B7;
  color: #FFFFFF;
}

.btn-blue.disabled,
.btn-blue[disabled] {
  cursor: default;
  background-color: #3E80AD;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  border: 1px solid #50BCBC;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #56CCCC #56CCCC #50BCBC;
  border-bottom-color: #4BB2B2;
  background-color:#0093C6;
  color: #fff;
}
/***bootstrap for application*/

a {color:#0093C6}
/****line 149 bootstrap.css*/
body {
  margin: 0;
  font-family:  "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
  padding-right: 5px;
  padding-left: 5px;
}

/****line 452 bootstrap.css*/
h1{
  font-family: "Comfortaa";
  line-height:531x;
}

h2{
  font-family: "Comfortaa";
}

h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;;
  font-weight:400;
}

h1 small{
  font-family: "Open Sans", sans-serif;;
  font-weight:100;
  font-style:normal;
  color: #999;
  font-size: 18px
}

h2 small {
  color: #999;
}

h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}

.modal h3 {
  font-size: 18px;
  line-height: 27px;
  margin: 0px;
}

.form-field {
  margin-top: 6px;
}

.tab-content h3 {
  font-size: 24px;
  line-height: 2px;
}

.tab-content h4 {
  font-size: 22px;
  line-height: 2px;
}

h1 {
  font-size: 37px;
}

h2 {
  font-size: 20px;
  line-height:15px;
  color:#3E80AD;
}

h2 small {
  font-size: 21px;
}

h3 {
  font-size: 15px;
  line-height:10px;
  color: #333;
}

h3 small {
  font-size: 14px;
}

h4 {
  font-size: 14px;
  line-height:21px;
}

h5 btn {
  font-size: 11px;
}

h5 {
  font-size: 13px;
  line-height:4px;
}

h6 {
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
  line-height:1px;
}

.page-header {
  padding-bottom: none;
  /*margin: 18px 0;*/
  border-bottom: 1px solid #eeeeee;
  margin-top: 10px;
}

/** line 407 boostrap.css**/
.container-fluid {
  padding-right: 0px;
}

/** line 519 boostrap.css**/
.page-header h1 {
  line-height: 2;
}

#vnc_spinner {
  width: 60px;
  height: 60px;
  position: relative;
  left: 50%;
  margin-left: -30px;
  padding-bottom: 10px;
}

/** line 762 boostrap.css**/
input,
button,
select,
textarea {
  font-family: opensans;
}
/** line 1299 boostrap.css**/
.input-prepend .add-on, .input-append .add-on {
  text-shadow:none;
  padding-top: 4px;
  padding-bottom: 4px;
}

.input-prepend .add-on,
.input-append .add-on {
  background-color: #0093C6;
  border: 1px solid #0093C6;
}

/** line 2369 boostrap.css**/
.caret-white {
  border-top: 4px solid #FFFFFF;
  opacity: 0.75;
  filter: alpha(opacity=70);
}

/** line 2576 boostrap.css**/
.btn{
  display: inline-block;
  *display: inline;
  padding: 3px 20px 2px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-repeat: none;
  border: 0px solid transparent;
  *border: 0;
  border-color: transparent;
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.btn:hover {

  text-decoration: none;

}

.btn:focus {
  outline: none;
}

.btn.active,
.btn:active {


  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: transparent;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  text-decoration:none;

}


.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  border:1px;
}

.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}



.btn-warning {
  background-color: #faa732;
  *background-color: #f89406;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-danger {
  background-color: #da4f49;
  *background-color: #bd362f;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  background-color: #5bb75b;
  *background-color: #51a351;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  background-color: #49afcd;
  *background-color: #2f96b4;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  background-color: #414141;
  *background-color: #222222;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

/** line 3076 boostrap.css**/
.btn-group.open .btn.dropdown-toggle {
  background-color: rgb(0, 147, 198),
}

/** line 3255 boostrap.css**/
.nav-list > .active > a, .nav-list > .active > a:hover {
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
background-color: rgb(0, 147, 198);
}

/** line 3347 boostrap.css**/
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #0093C6;
    color: #FFFFFF;
}

/** line 3578 boostrap.css**/
.navbar-inner {
  background-color: #777777;
  background-image: none;
  padding-right: 0px;
  padding-left: 0px;
  background-image: none;
  box-shadow: none;
}


/** line 3615 boostrap.css**/
.navbar .brand {
  color: #FFFFFF;
}

/** line 3700 boostrap.css**/
.navbar-search .search-query {
font-family: "opensans", Helvetica, Arial, sans-serif;
color: #000000;
background-color: #FFFFFF;
border: 1px solid #f9f9f9;
line-height: 2;
}

/** line 3792 boostrap.css**/
.navbar .nav > li > a {
  color: #CCCCCC !important;
  padding: 6px 10px 4px;
 /* padding-bottom: 1px; */
 border-bottom-right-radius: 0px;
 border-bottom-left-radius: 0px;
}

/** line 3819 boostrap.css**/
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #CCCCCC;
    color: #666666 !important;
    padding-bottom: 3px;
}

/** line 3826 boostrap.css**/
.navbar .divider-vertical {
background-color: #f9f9f9;
border-right: 1px solid #f9f9f9;
border: none;
}

/** line 3840 boostrap.css**/
.navbar .btn-navbar {
    background-color: #f9f9f9;
    background-image: none;
    float: left;
}

/** line 3864 boostrap.css**/
.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  background-color: #ffffff;
}


/** line 3878 boostrap.css**/
.navbar .btn-navbar .icon-bar {
    background-color: #000000;

}

/** line 4941 boostrap.css**/
.hero-unit {
  padding: 1px 5px 4px 11px;
  margin-bottom: 30px;
  background-color: #F6F6F4;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.hero-unit-black{
  padding: 1px 5px 4px 11px;
  margin-bottom: 30px;
  background-color: #666666;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit h1,
.hero-unit-black h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit p {
  font-size: 13px;
  font-weight: 200;
  line-height: 15px;
  color: inherit;
}

.nav-tabs li {
    cursor: pointer;
}

/** bootstrap for application - cloud portal   **/

.nav-collapse .nav > li {
  float:left;!important
}
/** line 696 boostrap.css**/
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding-bottom: 0px;
}
@media (max-width: 979px) {
  .container-view {
    top: 0px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {


.row-fluid [class*="span"] {
display: block;
float: none;
width: 100%;
min-height: 28px;
margin-left: 0px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
}
/** line 192 boostrap.css**/
[class*="span"] {

margin-left: 0px;
}
