.tier-row {
    height: 150px;
}

.table-striped tbody tr.tier-row:hover td, .table-striped tbody tr.tier-row td {
    background-color: white;
    cursor: auto;
}

tr.tier-row td {
    height: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}

.progress-wgt {
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0px;
    position: relative;
}

.tier-row td .progress-circle {
    width: 140px;
    height: 160px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -70px;
}

.tier-row td .circle-progress-data {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
}

.tier-image {
    max-height: 50px;
    max-width: 50px;
    border-style: none;
    border-radius: 10px;
}

.tier-image-back {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: 70px;
    left: 50%;
    margin-left: -25px;
    border-radius: 10px;
    background-color: #999;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.tier-min-value {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: 5px;
    top: 7px;
    font-size: 10px;
    text-align: center;
    border: solid 1px #DDD;
    border-radius: 4px;
}

.tier-max-value {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -27px;
    top: 7px;
    font-size: 10px;
    text-align: center;
    border: solid 1px #DDD;
    border-radius: 4px;
}

.tier-data {
    font-size: 10px;
}

.tier-data p {
    margin-top: 0.2em;
    margin-bottom: 0em;
    position: relative;
}

.tier-data span {
    position: absolute;
    left: 70px;
    color: #999;
}

.tier-icons {
    width: 100%;
    height: 14px;
    margin-left: 10px;
    margin-top: 10px;
}

.tier-icons .fi-icon-actions {
    border: solid 1px #0093C6;
}

.tier-icons .fi-icon-actions:hover {
    border: solid 1px #DDD;
}

.tier-icons .fi-icon-actions:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.tier-icons .fi-icon-actions:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


.software-tier {
    width: 80%;
    height: 100px;
    border: solid 1px #DDD;
    margin-bottom: 20px;
    overflow-y: auto;
    border-radius: 5px;
}

.software-tier ul {
    margin: 5px;
}

.btn-catalog, .btn-catalog:hover, .btn-catalog:active {
    background-color: #95C11F;
}

.link-catalog, .link-catalog:hover, .link-catalog:active {
    color: #95C11F;
}

.form-progress {
    position: relative;
    height: 250px;
}

.form-progress .progress-circle {
    width: 200px;
    height: 230px;
    text-align: center;
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -100px;
    cursor: pointer;
}

.form-progress .tier-image {
    margin-top: 75px;
    height: 90px;
    width: 90px;
    margin-left: -45px;
}

.form-progress .tier-image-back {
    margin-top: 75px;
    height: 90px;
    width: 90px;
    line-height: 90px;
    font-size: 90px;
    margin-left: -45px;
}

.tier-sdc {
    position: relative;
    float: right;
    height: 200px;
}

.modal fieldset .form-field .controls select {
    width: 100%;
}

.actionsSDCTier {
    display: none;
}

.headerSDCTier {
    display: none;
}

.bodySDCTier {
    top: 0px;
    border: solid 1px #DDD;
}

.footerSDCTier {
    display: none;
}

.tier-sdc-title {
    height: 50px;
}

.title-catalogue {
    color: #95C11F;
}

#edit-software-attributes {
    float: left;
    width: 768px;
    margin-left: 28px;
}

#cancel-attrs {
    float: right;
}

.blur {
    -webkit-filter: blur(1px);
    opacity: 0.3;
    cursor: default;
}

.image-container {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: 70px;
    left: 50%;
    margin-left: -25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.image-container #wrapper {
    margin: 0;
       padding: 0;
       border: 0;
}
.image-container #wrapper td {
    margin: 0;
    padding: 0;
    border: 0;
    height: 50px;
    width: 50px;
}