.tier-row {
    height: 150px;
}

.table-striped tbody tr.tier-row:hover td, .table-striped tbody tr.tier-row td {
    background-color: white;
    cursor: auto;
}

tr.tier-row td {
    height: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}

tr.tier-row .progress-wgt {
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0px;
    position: relative;
}

.tier-row td .progress-circle {
    width: 140px;
    height: 160px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -70px;
}

.tier-row td .circle-progress-data {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
}

.tier-row td .tier-image {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: 70px;
    left: 50%;
    margin-left: -25px;
    border-style: none;
    border-radius: 10px;
}

.tier-row td .tier-image-back {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: 70px;
    left: 50%;
    margin-left: -25px;
    border-radius: 10px;
    background-color: #999;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.tier-min-value {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: 5px;
    top: 12px;
    font-size: 10px;
    text-align: center;
    border: solid 1px;
    border-radius: 4px;
    color: #999;
}

.tier-max-value {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -27px;
    top: 12px;
    font-size: 10px;
    text-align: center;
    border: solid 1px;
    border-radius: 4px;
    color: #999;
}

.tier-data {
    font-size: 10px;
}

.tier-data p {
    margin-top: 0.2em;
    margin-bottom: 0em;
    position: relative;
}

.tier-data span {
    position: absolute;
    left: 70px;
    color: #999;
}

.software-tier {
    width: 80%;
    height: 100px;
    border: solid 1px;
    margin-bottom: 20px;
    overflow-y: auto;
}

.software-tier ul {
    margin: 5px;
}