.fi-icon-actions {
    background-image: url('/ico/icon-actions-normal.png');
    width: 20px;
    height: 20px;
    border: none;
    margin-right: -2px;
    margin-left: -2px;
}

.fi-icon-actions:hover {
    background-image: url('/ico/icon-actions-hover.png');
}

.fi-icon-play {
    background-position: 0px -18px;
}

.fi-icon-delete {
    background-position: 0px -54px;
}

.fi-icon-edit {
    background-position: 0px -90px;
}

.fi-icon-instances {
    background-position: 0px -252px;
}