<script id="novaFloatingIPsTemplate" type="text/html">
<!--
Description: Access And Security
src: templates/root/nova/floatingIPs.html
-->
<div id="floatingIPs-table"></div>
<!--
        <div class='table_header'>
            <div class="table_actions clearfix">

                <button class="btn btn-small btn-blue btn-allocate ajax-modal" id="allocate_IP">Allocate IP To Project</button>

                <button class='btn btn-small btn-danger' id='release_floating_IPs' name="action" value="floating_ips__release" type="submit">
                    Release Floating IPs
                </button>
            </div>
        </div>
        <table id="floating_ips_head" class="table table-bordered table-striped table-header">
            <thead>
                <tr>
                    <td style="width:5%" class="multi_select_column"></td>
                    <td style="width:25%" class="tip" data-tooltip="IP Address">IP Address</td>
                    <td style="width:15%" class="tip" data-tooltip="Instance the IP is attached to.">Instance</td>
                    <td style="width:40%" class="tip" data-tooltip="Corresponding Floating Pool.">Floating IP Pool</td>
                    <td style="width:15%" class="actions_column">Actions</td>
                </tr>
            </thead>
        </table>
        <div class="scrollable">
            <table id="floating_ips" class="table table-without-margins table-bordered without-borders table-striped table-scrolled">
        <table id="floating_ips" class="table table-bordered table-striped">
            <tbody>
                <tr class="odd empty">
                </tr>
            </tbody>
        </table>
        </div>
        <table id="floating_ips_foot" class="table-foot table table-bordered table-striped table-without-margins">
            <tfoot>
                <tr>
                    <td colspan="5"><span>Displaying 0 items</span></td>
                    </td>
            </tfoot>
            </table>
-->
</script>