<script id="consultImageDetailFormTemplate" type="text/html">
<div id="consult_image" class="help_page">
    <!--
    Description: Consult Image Detail
    src: templates/root/nova/imageDetail.html
    -->
    <div class="row-fluid entity_consult">
        <div class="span12">
            <!--<h2>Image Detail</h2>-->
            <ul id="image_details" class="nav nav-tabs ajax-tabs">
                <li class="active">
                    <a href="?tab=image_details__overview" data-toggle="tab" data-target="#image_details__overview" data-loaded="true">Overview</a>
                </li>
            </ul>
            <div class="tab-content entity_detail">
                <div id="image_details__overview" class="tab-pane active">
                    <div class="status row-fluid">
                        <h4>Info</h4>
                        <hr class="header_rule">
                        <ul>
                            <li>
                                <strong>Name:</strong>&nbsp;<%= model.get('name')%>
                            </li>
                            <li>
                                <strong>ID:</strong>&nbsp;<%= model.get('id')%>
                            </li>
                        </ul>
                    </div>
                    <div class="status row-fluid">
                        <h4>Status</h4>
                        <hr class="header_rule">
                        <ul>
                            <li>
                                <strong>Status:</strong>&nbsp;<%=model.get('status')%>
                            </li>
                            <li>
                                <strong>Public:</strong>&nbsp;True
                            </li>
                            <li>
                                <strong>Checksum:</strong>&nbsp;2cec138d7dae2aa59038ef8c9aec2390
                            </li>
                            <li>
                                <strong>Created:</strong>&nbsp;<%=model.get('created')%>
                            </li>
                            <li>
                                <strong>Updated:</strong>&nbsp;Never updated
                            </li>
                        </ul>
                    </div>
                    <div class="specs row-fluid">
                        <h4>Specs</h4>
                        <hr class="header_rule">
                        <ul>
                            <li>
                                <strong>Size:</strong>&nbsp;2.1 MB
                            </li>
                            <li>
                                <strong>Container Format:</strong>&nbsp;ARI
                            </li>
                            <li>
                                <strong>Disk Format:</strong>&nbsp;ARI
                            </li>
                        </ul>
                    </div>
                    <div class="properties row-fluid">
                        <h4>Custom Properties</h4>
                        <hr class="header_rule">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>