<script id="novaKeypairsTemplate" type="text/html">
<!--
Description: Access And Security
src: templates/root/nova/keypairs.html
-->
<div id="keypairs">
    <div class='table_header'>
        <h3 class='table_title'>Keypairs</h3>
        <div class="table_actions clearfix">
            <button class="btn btn-blue btn-small btn-create" id="keypair_create">Create Keypair</button>
            <button class="btn btn-blue btn-small btn-import" id="keypair_import">Import Keypair</button>
            <button class='btn btn-small btn-danger btn-delete' disabled="disabled" id="delete_keypairs" name="action" value="keypairs__delete" type="submit">
                Delete Keypairs
            </button>
        </div>
    </div>
    <table id="keypairs" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="multi_select_column"></th>
                <th class="tip" data-tooltip="Keypair's name">Name</th>
                <th class="tip" data-tooltip="Keypair's unique fingerprint">Fingerprint</th>
                <th class="actions_column">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% 
            if (models != "") { 
	            for (var index in models) {
	            var keypair = models[index];
            %>
            <tr id="keypairs__row__<%=keypair.get('name')%>" class="">
                <td class="multi_select_column">
                <input type="checkbox" name="object_ids" class="checkbox_keypairs" id="checkbox_keypairs_<%=keypair.get('name')%>" value="<%=keypair.get('name')%>" />
                </td>
                <td class=""><%=keypair.get('name')%></td>
                <td class=""><%=keypair.get('fingerprint')%></td>
                <td class="actions_column">
                <button class="btn btn-small btn-danger btn-delete" id="delete_keypair" value="<%=keypair.get('name')%>">
                    Delete Keypair
                </button></td>
            </tr>
           <% } } else { %>  
               	<tr class="odd empty">
                    <td colspan="4">No items to display.</td>
                </tr> 
           <% } %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"><span>Displaying <%=models.length%> items</span></td>
                </td>
        </tfoot>
    </table>
</div>
</script>