<script id="novaSecurityGroupsTemplate" type="text/html">
<!--
Description: Access And Security
src: templates/root/nova/securityGroups.html
-->
        <div class='table_header'>
            <div class="table_actions clearfix">

                <button id="security_groups__action_create" class="btn btn-small btn-blue btn-create-sec-group">Create Security Group
                </button>

                <div id="dropdown_actions" class="btn-group">

                    <button class="btn btn-small btn-blue" data-toggle="dropdown" tdata-i18n="Actions">Actions</button>

                    <a class="btn dropdown-toggle btn-small btn-blue" data-toggle="dropdown"> <span class="caret caret-white"></span>
                    </a>

                    <ul id="dropdown_options" class="dropdown-menu row_actions clearfix">

                        <li class="clearfix">

                            <button class="btn btn-small btn-edit-rules-actions" disabled="disabled" data-i18n="Edit Rules">Edit Rules
                            </button>
                        </li>

                        <li class="clearfix">

                            <button class="btn btn-small btn-danger btn-delete-sec-group-actions" disabled="disabled" data-i18n="Delete Security Group">Delete Security Group
                            </button>
                        </li>

                    </ul>

                </div>

                <!--<button class='btn btn-small btn-danger btn-delete' disabled="disabled" name="action" id="sec_groups_delete" value="security_groups__delete" type="submit">
                    Delete Security Groups
                </button>-->
            </div>
        </div>
        <table id="security_groups_head" class="table table-bordered table-striped table-header">
        <thead>
                <tr>
                    <td style="width:5%" class="multi_select_column">
                        <input type="checkbox" class="checkbox checkbox_all">
                    </td>
                    <td style="width:45%" class="tip" data-tooltip="Security Group's name.">Name</td>
                    <td style="width:35%" class="tip" data-tooltip="Security Group's description">Description</td>
                    <td style="width:25%" class="actions_column">Actions</td>
                </tr>
            </thead>
            </table>
        <div class="scrollable">
            <table id="security_groups" class="table table-without-margins table-bordered without-borders table-striped table-scrolled">
            <tbody>
            	<%  var sec_group;
            		var i = 0;
            	if (securityGroupsModel.models != "") {
            		for (var i in securityGroupsModel.models) {
            			sec_group = securityGroupsModel.models[i];

            	%>
                <tr id="sec_groups__row__<%= securityGroupsModel.models.length %>"
                class="ajax-update status_down">
                    <td style="width:5%" class="multi_select_column">
                    <input type="checkbox" id="checkbox_sec_groups_<%= sec_group.attributes.id%>" class="checkbox_sec_groups" name="object_ids" value="<%= sec_group.attributes.id%>" />
                    </td>
                    <td style="width:45%" class=""><%= sec_group.attributes.name%></td>
                    <td style="width:35%" class=""><%= sec_group.attributes.description%></td>
                    <td style="width:25%" class="actions_column hidden-phone">
	                	<div id="dropdown_<%= sec_group.attributes.id %>" class="btn-group">
		                    <button id="sec_group_edit" name="action" type="submit" class="ajax-modal btn btn-small btn-blue btn-edit" value="<%= sec_group.attributes.id %>" data-i18n="Edit Rules">Edit Rules</button>
		                    <% if (sec_group.attributes.name !== 'default') { %>
		                    <a class="btn btn-small btn-blue dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret-white caret"></span> </a>
		                    <ul class="dropdown-menu row_actions clearfix">
		                        <li class="clearfix">
		                            <button class="btn btn-small btn-danger btn-delete" id="sec_delete" name="action" value="<%= sec_group.attributes.id %>" type="submit" data-i18n="Delete Security Group">
		                                Delete Security Group
		                            </button>
		                        </li>
		                    </ul>
		                    <% };%>
	                	</div>
                	</td>
                </tr>
                <% i++ } } else { %>
               	<tr class="odd empty">
                    <td colspan="4">No items to display.</td>
                </tr>
                <% } %>
            </tbody>
            </table>
            </div>
            <table id="security_groups_foot" class="table-foot table table-bordered table-striped table-without-margins">
            <tfoot>
                <tr>
                    <td colspan="4"><span><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", securityGroupsModel.models.length)%></span></td>
                    </td>
            </tfoot>
        </table>
</script>