<script id="novaVDCsTemplate" type="text/html">
<!--
Description: VDCs
src: templates/root/nova/VDCs.html
-->
<div class="table_wrapper">
    <ul class="breadcrumb">
        <li>
            <strong>VDCs</strong>
        </li>
    </ul>
    <div class='table_header'>
        <h3>All Virtual Data Centers</h3>
        <div class="table_actions clearfix">
            <button href='#nova/vdcs/'  id="instances__action_launch__1" class="btn btn-small btn-blue btn-launch" data-i18n="Launch VDC">
                Launch VDC
            </button>
        </div>
    </div>
    <p></p>

    <table id="instances" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="" data-i18n="VDC Name">VDC Name</th>
                <th class="hidden-phone" data-i18n="VCPUs">VCPUs</th>
                <th class="hidden-phone" data-i18n="Disk">Disk</th>
                <th class="hidden-phone" data-i18n="RAM">RAM</th>
                <th class="" data-i18n="VCPU Hours">VCPU Hours</th>
                <th class="" data-i18n="Disk GB Hours">Disk GB Hours</th>
                <th class="actions_column hidden-phone" data-i18n="Actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <%
            for (var index in models) {
            var vdc = models[index];
            %>
            <tr id="instances__row__<%= vdc.id %>" class="ajax-update status_down">
                <td class=""><a href="#nova/vdcs/<%= vdc.id %>"><%= vdc.get("name") %></a></td>
                <td class="hidden-phone"><%=vdc.get("vcpus")%></td>
                <td class="hidden-phone"><%=vdc.get("disk")%></td>
                <td class="hidden-phone"><%=vdc.get("ram")%></td>
                <td class=""><%=vdc.get("vcpu_hours")%></td>
                <td class=""><%=vdc.get("disk_hours")%></td>
                <td class="actions_column hidden-phone">
                <div id="dropdown_<%= vdc.get('id') %>" class="btn-group">
                    <button  id="vdcs__action_e__<%=vdc.id%>" class="btn btn-blue btn-small btn-edit btn-edit-vdcs" name="action" value="<%= vdc.id %>" type="submit" data-i18n="Edit VDC">
                        Edit VDC
                    </button>
                    <a class="btn btn-blue dropdown-toggle btn-small" data-toggle="dropdown" href="#"> <span class="caret caret-white"></span> </a>
                    <ul class="dropdown-menu row_actions clearfix">
                        <li class="clearfix">
                            <button  id="vdcs__action_delete__<%=vdc.id%>" class="btn btn-small btn-danger btn-delete" name="action" value="<%= vdc.id %>" type="submit" data-i18n="Delete VDC">
                                Delete VDC
                            </button>
                        </li>
                    </ul>
                </div></td>
            </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8"><span class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", models.length)%></span></td>
            </tr>
        </tfoot>
    </table>
</div>
</script>