var config = {};

config.useIDM = false;

config.oauth = {
	account_server: '',
    client_id: '',
    client_secret: '',
    callbackURL: ''
};

config.keystone = {
	host: '',
	port: ,
	admin_host: '',
	admin_port: , 
	username: '', 
	password: '',
	tenantId: ''
};

module.exports = config;
