<script id="cloud_init_template" type="text/plain">#cloud-config
#
# This script automatically permorm some needed actions for the VM configuration
# You can modify it, but be careful not to change network configuration.<%if(num_interfaces !== 0){%>
write_files: 
- encoding: b64
  content: |<%
var data = "auto lo \n"; 
data += "iface lo inet loopback\n";
for (var h = 0; h < num_interfaces; h++) {
data += " auto eth"+h+" \n"; 
data += " iface eth" + h + "  inet dhcp\n";
}%>
    <%=btoa(data)%>
  path: /etc/network/interfaces

<% for (var i = 0; i<num_interfaces; i++) {
%>- content: |
    DEVICE="eth<%=i%>"
    NM_CONTROLLED="yes"
    ONBOOT="yes"
    BOOTPROTO="dhcp"
    TYPE="Ethernet"
  path: /etc/sysconfig/network-scripts/ifcfg-eth<%=i%>
  permissions: '460'
<% } %>
bootcmd: 
  - ifdown eth0
  - ifup eth0
<% for (var j=1; j<num_interfaces; j++) { 
%>- ifdown eth<%=j%>
  - ifup eth<%=j%><% 
}}%>

# Start DEM monitoring
runcmd:
     - curl -L -s -k https://xifisvn.esl.eng.it/wp3/software/DEM_Adapter/install.sh | bash

# FIWARE Support
fiware-support:
   sshkey: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCiIZZngp09IyClfcW20HSj260TgMDKOfCEW0bwSLkF4UPjWA3D8FMv2d3fXDSowanr4ds+Utfszh6S3X/XTflPMScvYLtweCncssvi8T3lVqdqL8bgbMvVLD+y1vZYUBVyJ/TidUEgz26F3TjBYO7ffp2alSQO0rYb19J60FbEMaG5VT9J5d/b5SkWBCo3HM3Ce9nuiIdK6ec/t7jxvSW1+fJQfofaVLLX8gzHXsTu+wXRAJ2gZuT8ocZbmCbcyjSAMnNaRRBrXjHtBhtUReyBPLzK3wr3k8N8gasvCYRCLQ03PvfBIqA5CALsR/gF6ITbjnSSc5pYTDZ/T0JwIb5Z support@fiware0716

   gpgkey: |
      -----BEGIN PGP PUBLIC KEY BLOCK-----
      Version: GnuPG v1

      mQENBFWnVCYBCADPeDMbTOkCM4MPbUMvtbAtGbUDnH3AHyZCEZZuyjeExATfT0Au
      PaquU/ouahW7YUED+wTmAEJbIionYdhdCy1tGSOCekPzHntmIvcA0gzjwRKejdkW
      ose8bF3u1GIq28BrdQL5UQc6hn8a3rJrcUe7vIJ9sgmKPu6yUth+wkEctNdIJUec
      XBVtgBM9ei+9MQ68g7D3njdL4/6Ha4/knemGt5pNoYQ9/Bn6q+6zVifwTGVMFA7u
      VIAUBpPAt76XquTM41lZizF+WDqUAmLaV4sa8B0KZSGZ/xo0cC/kQYYu/RJ84ZD6
      NrM90aEyUBMNPRX4R+vKwxCsF4Ifpj2QSrXJABEBAAG0E0ZpV2FyZSBzdXBwb3J0
      IDA3MTaJATgEEwECACIFAlWnVCYCGwMGCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheA
      AAoJEKYE4H5sJGzUDgkH/jHvlaDTJqEjlshNQSC4jy2zXoaUCdUF17UnDCmCBvPg
      udAd5mvp8IqzgXE823ADiE9DeV1BCMvbLdvHzc7tCsUQsMs8FBuyaZp1l+c9dUMR
      ieahgSR+/GYpiaanZjlx1JROzpvv7zEZo0RagnMzGP2Nm/ml5rIeOGm2Ium6f3D7
      sFE9wvjB0yhz00Z6sNcZTHWb9AUWL11Den6i8Z4PQCStYe6M3cWEqQa4/oUrXJdu
      2j7b467AbZ18wFGtuTNDYd5jhlOjAy1i3HpaTteo8UMmBQsRzFfBZ0FSoXDdnvBp
      WJdu+3kcJK+COfcMDS9EGRxYxm2lb8anzqTIreOhXRy5AQ0EVadUJgEIAMo7sNsU
      FMeny2yXHjxF0WPd+i2GdexazuIl6lhxr6I9dxlbChgdCZa6yM6jzwNbSJ3Jv2DY
      mFFlgr+peWR+l4ob/UsdrPV3d/q5qTS4+3qMRjMKy+6aGOfTuhGPYZeC+jGEFk+j
      5ajtv4aLeMiQC30fJzd9DmDw6Qee0J7Mw6aSIark7rMkYkq4TjtZywAKFw9RcRkI
      BNZIDKdXEwZz7T16T8l1dxh5R6pTbQt/Z/8LyTcvehMEreBA6tmbWWaT6v0qWPpT
      XPdXAIAAku46hqvTdcQRImd4CJIP2+XvHKlMMsU5jmAR/jpvFbq3JdlJ2QlHTBCS
      mn7Gd5HdZtRQ960AEQEAAYkBHwQYAQIACQUCVadUJgIbDAAKCRCmBOB+bCRs1F4y
      B/98XV+mi0yWAlCNZjyiXzYDtU7NKAyluHnVaxsGk8b5rf7Ysm16sWeEK6iUqKMn
      F/UxTBS0eex0Ycb7JapEd/hLuT/6gHnIR1tJkSXkR8JHyjDslFQqePoDuqhMtWHv
      4duS5/rM2hJwavvtr1pVymiQ05e/HlZEH6M3jb6V8FCHDg6aHNph97vG7GNaxi00
      mX7DWOCYc+0GUlTTMDnVpypgowAW5ExY/EFENvfcCCJTNklm1HoKCQ1UN2wAxtlu
      jubEr3vxrj3em0CnkfKSczzbdM55MSJ/D+kkjrwvpVva69urbLrg+kzljtSMMbMb
      nMy+mcDYEPbM6AXnATo4EFIm
      =TrvV
      -----END PGP PUBLIC KEY BLOCK-----
</script>