<script id="confirmTemplate" type="text/html">
<div id="confirm" class="modal hide ">
<!--
    Description: Confirm
    src: templates/root/confirm.html
-->
    <div class="modal-header">
        <a class="close" id= "close" data-dismiss="modal">&times;</a>
        <h3><%= title %></h3>
    </div>
    <div class="modal-body">
        Please confirm your selection. This action cannot be undone.
    </div>
    <div class="modal-footer">
        <a id="confirm_btn" class="btn btn-blue pull-right" data-dismiss="modal"><%= btn_message %></a>
        <a id="cancelBtn" class="btn cancel" data-dismiss="modal">Cancel</a>
    </div>
</div>
</script>           



