<script id="rootTemplate" type="text/html">
<!--
Description: Root page. User is already logged in.
src: templates/root/root.html
-->
<div id='topbar' class="topbar"></div>
<div id="container" class="container-fluid row-fluid container-view">


    <div class="span2 sidebar-menu">
        <div id="navtab"></div>

    </div>

    <div id='main_content' class="span10">
        <div id='content'></div>
        <div id='logs'>
            <div id="log-messages"></div>
            <i id="message-resize-icon" class="icon-resize-full float-right"></i>
        </div>
    </div>
</div>
<!--<hr class="soften clear">-->
<footer class="footer row-fluid span12 hidden-phone hidden-tablet">
    <div class="menu span12" style="text-align: center;">
        <p>
            2014 &copy FIWARE. The use of FIWARE Lab services is subject to the acceptance of the  <a href="http://forge.fi-ware.eu/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Terms_and_Conditions">Terms and Conditions</a> and  <a href="http://forge.fi-ware.eu/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Personal_Data_Protection_Policy">Personal Data Protection Policy</a>
        </p>
    </div>
</footer>

</script>
