<script id="rootTemplate" type="text/html">
    <!--
       Description: Root page. User is already logged in.
       src: templates/root/root.html 
    -->
    <div id='topbar'>
	</div>
	<div id="container" class="container-fluid row-fluid">
	    
		<div class="span3 sidebar-menu hidden-phone hidden-tablet">
            <div id="navtab">
			</div>
		    <div id="sidebar">
		    </div>
		</div>

		<div id='main_content' class="span9">
			<div id='content'>
			</div>
		</div>
	</div>
	<div id="footer">
	</div>
</script>