<script id="rootTemplate" type="text/html">
<!--
Description: Root page. User is already logged in.
src: templates/root/root.html
-->
<div id='topbar' class="topbar"></div>
<div id="container" class="container-fluid row-fluid container-view">


    <div class="span2 sidebar-menu">
        <div id="navtab"></div>

    </div>

    <div id='main_content' class="span10">
        <div id='content'></div>
        <div id='logs'>
            <div id="log-messages"></div>
            <i id="message-resize-icon" class="icon-resize-full float-right"></i>
        </div>
    </div>
</div>
<!--<hr class="soften clear">-->
<footer class="footer row-fluid span12 hidden-phone hidden-tablet">
    <div class="menu pagination-right offset3 span7">
        <p>
            FI-WARE Web Services LLC or its affiliates &copy 2012 - 2013. All rights reserved
        </p>
    </div>
    <div class="menu pagination-left offset1 span5">
        <p>
            <a href="#">Site terms</a>&nbsp;-&nbsp;<a href="#">Privacy Policy</a>
        </p>
    </div>
</footer>

</script>