<script id="topBarTemplate" type="text/html">
<!--
Description: Top Bar
src: templates/root/topBar.html
-->

<header id="oil-nav" class="navbar">
  <nav class="navbar-inner">

    <div class="logo-header">
      <a href="http://lab.fi-ware.eu/" class="logo-header">
        <img alt="FI-WARE" class="logo" src="images/header/header-logo.png">
      </a>
      <a href="http://lab.fi-ware.eu/" class="brand">
        FI-WARE
      </a>
    </div>

    <div class="dropdown mobile visible_phone">
      <a href="#" class='dropdown-toggle' data-toggle="dropdown">
        <i class='arrow-down-settings'></i> 
      </a>

      <ul class="dropdown-menu dropdown-menu-header">
        <li class="cloud active">
          <a href="http://cloud.lab.fi-ware.eu/">
            Cloud
          </a>
        </li>

        <li class="store">
          <a href="http://wstore.lab.fi-ware.eu/">
            Store
          </a>
        </li>
        <li class="idm">
          <a href="https://idm.lab.fi-ware.eu/">
            IdM
          </a>
        </li>
      </ul>
    </div>


    <ul class="oil-portal hidden-phone">
      <li class="cloud active">
        <a href="http://cloud.lab.fi-ware.eu/">
          Cloud
        </a>
      </li>
      <li class="store">
        <a href="http://wstore.lab.fi-ware.eu/">
          Store
        </a>
      </li>
      <li class="idm">
        <a href="https://idm.lab.fi-ware.eu/">
          IdM
        </a>
      </li>
    </ul>

    <ul class="nav pull-right">
      <li>
        <a href="#">
          <img src="images/header/user.png">
          <span class="name">
            <%= get('username') %>
          </span>
        </a>
      </li>
            
      <li class="dropdown">

        <a href="#" class='dropdown-toggle' data-toggle="dropdown">
          <i class='arrow-down-settings'></i> 
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-submenu pull-left">
            <ul class="dropdown-menu dropdown-menu-header">
              <li>
                <a>
                  <img src="images/header/user.png">
                  name
                </a>              
              </li>
            </ul>
          </li>

          <li class="settings-menu">
            <a href="https://idm.lab.fi-ware.eu/settings">
              Settings
            </a>
          </li>

          <li class="divider">
          </li>
          
          <li>
            <a href="#auth/logout">
              Sign Out
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<!--

<div id="user_info" class="pull-right">
    <span id="user_info_name" class="icon_nav-project"><%= get('username') %></span> <a class="top-icon icon_nav-settings" href="#settings/"></a>
    <a href="#auth/logout" class="top-icon icon_nav-logout"></a>
</div>
-->

<div class="header hidden-tablet hidden-phone">
    <div class="header row-fluid">
    <!--
        <div class="logo span2">
            <div class="brand"></div>
            <h2><a href="#home/"><span class="link-logo">fi-ware</span></a></h2>
            <h2 class="dashboard"> Dashboard</h2>
        </div>
    -->
        <div class="big-tittle inline-block span10 offset2 page-header">
            <h2 class="in-big-title" data-i18n="<%= get('title') %>"><%= get('title') %> <% if (has('subtitle')) { %><small><%= get('subtitle') %></small><% } %></h2>
        </div>
        <div class="hidden-desktop">
            <div class="space-double"></div>
        </div>
    </div>
</div>

</script>
