<script id="topBarTemplate" type="text/html">
<!--
    Description: Top Bar
    src: templates/root/topBar.html
-->
<div class="header">
  <div class="logo">
    <div class="brand clearfix"></div>
    <h1 class="inline"><a href="#home/">Fi-ware</a></h1>
    <div class="Dashboard"> Dashboard</div>
  </div>

<div id="user_info" class="pull-right">
  <span data-i18n="Logged in as">Logged in as</span>: <%= get('username') %>
  <a href="#settings/" data-i18n="Settings">Settings</a>
  <a href="#auth/logout" data-i18n="Sign Out">Sign Out</a>
</div>
<div class='big-tittle'>
    <h2 class="in-big-title"><data-i18n="<%= get('title') %>"><%= get('title') %> <% if (has('subtitle')) { %><small><%= get('subtitle') %></small><% } %></h2>
</div>
</script>