<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>VNC Display</title>
    </head>
    <body style="width: 100%; height: 100%; text-align: center;">
       <iframe style="width: 100%; height: 100%" src="<%= vncUrl %>"></iframe>
    </body>
</html>
