<script id="instanceVNCTemplate" type="text/html">
<!--
Description: Instance Detail VNC
src: templates/root/nova/instanceDetail/VNC.html
-->
<h3>Instance VNC Console</h3>
<%
if (vncUrl === undefined) { %>
    <img id="vnc_spinner" src="images/spinner2.gif"></img>
<% } else { %>
    <p class="alert alert-info">
        If VNC console is not responding to keyboard input: click the grey status bar below.
    </p>
    <iframe src="<%= vncUrl %>" width="1024" height="768"></iframe>
<% } %>

</script>