<script id="addInterfaceToRouterFormTemplate" type="text/html">
<div id="add_interface_router" class="modal hide in" style="display: block; ">
    <!--
    Description: Add Interface to Router Form
    src: templates/forms/addInterfaceToRouter.html
    -->
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3>Add Interface</h3>
    </div>

    <form id="form" class="" action="" method="">
            <div id="input_gateway" class="tab-pane tab-adjustable active">
                <div class="modal-body clearfix">
                    <div class="left">
                        <fieldset>                      
                            <div class="control-group form-field clearfix">
                                <label for="subnet">Subnet</label>
                                <span class="help-block"></span>
                                <select id="subnet" tabindex="1" class="inline">
                                    <option value="">Select subnet*</option>
                                        <%                                       
                                        for (var i in networks.models) {
                                            var ten_id = networks.models[i].get('tenant_id');   

                                            if (ten_id == tenant_id && networks.models[i].get('subnets') !== "") {
                                                var network_name = networks.models[i].get('name') !== "" ? '('+networks.models[i].get('name')+')' : '('+networks.models[i].get('id')+')';
                                                var network_id = networks.models[i].get('id');
                                                for (var j in subnets.models) {
                                                    if (subnets.models[j].get('network_id') == network_id){
                                                        var subnet_name = subnets.models[j].get('name') !== "" ? '('+subnets.models[j].get('name')+')' : '('+subnets.models[j].get('id')+')';
                                                        var subnet_id = subnets.models[j].get('id');   
                                                        var cidr =  subnets.models[j].get('cidr');                             
                                                        var net_cidr_subnet = network_name+': '+cidr+ ' ' +subnet_name;                                      
                                        %>
                                    <option value="<%= subnet_id%>"><%= net_cidr_subnet%></option>
                                    <% }}}}%>
                                </select>
                            </div>
                            <div class="control-group form-field clearfix">
                                <label for="router-name">Router Name</label>
                                <span class="help-block"></span>
                                <p><%= model.get('router').name%></p>
                            </div>
                            <div class="control-group form-field clearfix">
                                <label for="router-id">Router ID</label>
                                <span class="help-block"></span>
                                <p><%= model.get('id')%></p>
                            </div>
                        </fieldset>
                    </div>
                    <div class="right">
                        <h3>Description</h3>
                        <p>
                            You can connect a specified external network to the router. The external network is regarded as a default route of the router and the router acts as a gateway for external connectivity.
                        </p>
                    </div>
                </div>
            </div>
        
        <div class="modal-footer">
            <p class="mandatoryMess">* Mandatory fields.</p>
            <input id="add_interface_router_button"  class="btn btn-blue btn-add-interface-router pull-right" value="Add Interface"/>
            <a id="cancelBtn-interface-router" class="btn secondary cancel close">Cancel</a>
        </div>
    </form>

</script>