<script id="createKeypairFormTemplate" type="text/html">
<div id="create_keypair" class="modal hide  in" style="display: block; ">
    <!--
    Description: Create Keypair Form
    src: templates/forms/createKeyPair.html
    -->
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times</a>
        <h3>Create Keypair</h3>
    </div>

    <form id="create_keypair_form" class="" action="" method="">
        <div class="modal-body clearfix">

            <div class="left">
                <fieldset>

                    <div class="control-group form-field clearfix">
                        <label for="id_name">Keypair Name *</label>

                        <span class="help-block" style="display: none; "></span>
                        <div class="input">
                            <input id="id_name" type="text" name="name" maxlength="20" required placeholder="Keypair Name">
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="right">
                <h3>Description</h3>
                <p>
                    Keypairs are ssh credentials which are injected into images when they are launched. Creating a new key pair registers the public key and downloads the private key (a .pem file).
                </p>
                <p>
                    Protect and use the key as you would any normal ssh private key.
                </p>
            </div>

        </div>
        <div class="modal-footer">
            <input class="btn btn-blue pull-right" type="submit" value="Create Keypair">
            <a id="cancelBtn" class="close btn seconday cancel close" data-dismiss="modal">Cancel</a>
        </div>
    </form>
</div>
</script>

