<script id="createNetworkFormTemplate" type="text/html">
<div id="create_network" class="modal hide in" style="display: block; ">
<!--
Description: Create Network Form
src: templates/forms/createNetwork.html
-->

<div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times</a>
        <h3>Create Network</h3>
</div>

<form id="form" class="" onSubmit="return false;">
		<ul id="myTab" class="nav nav-tabs">
		  <li class="active">
		    <a id="network" href="#input_network" data-toggle="tab">Network</a>
		    </li>
		  <li class="">
		    <a id="subnet" href="#input_subnet" data-toggle="tab">Subnet</a>
		    </li>
		  <li class="">
		    <a id="details" href="#input_subnet_detail" data-toggle="tab">Subnet Detail</a>
		    </li>  
		</ul>
			
			<div id="input_network" class="tab-pane tab-adjustable active">
			    <div class="modal-body clearfix">
		            <div class="left">
		                <fieldset>
		                    <div class="control-group form-field clearfix">
		                        <label for="network_name">Network Name</label>
		                        <span class="help-block"></span>
		                        <div class="input">
		                            <input type="text" name="network" value="<%= model.id %>" id="network_name" />
		                        </div>
		                    </div>
		                    <div class="control-group form-field clearfix">
		                        <label for="admin-state">Admin State</label>
		                        <span class="help-block"></span>
		                        <div class="input">
		                            <input type="checkbox" checked="checked" name="admin_state" value="" id="admin_state" />
		                        </div>
		                    </div>
		                </fieldset>
		            </div>
		            <div class="right">
		                <h3>Description</h3>
		                <p>
		                    From here you can create a new network. In addition a subnet associated with the network can be created in the next panel.
		                </p>
		            </div>
			    </div>
			</div>   
	

			<div id="input_subnet" class="tab-pane tab-adjustable fade" style="display: none">
				<div class="modal-body clearfix">
		            <div class="left">
		                <fieldset>		            
		                    <div class="control-group form-field clearfix">
		                        <label for="create-subnet">Create Subnet</label>
		                        <span class="help-block"></span>
		                        <div class="input">
		                            <input type="checkbox" name="create_subnet" value="" id="create_subnet" />
		                        </div>
		                    </div>
		                    <div class="control-group form-field clearfix">
		                        <label for="subnet-name">Subnet Name</label>
		                        <span class="help-block"></span>
		                        <div class="input">
		                            <input type="text" name="subnet_name" id="subnet_name" />
		                        </div>
		                    </div>
		                    <div class="control-group form-field clearfix">
		                        <label for="network-address">Network Address*</label>
		                        <span class="help-block"></span>
		                        <div class="input">
		                            <input type="text" name="network_address" id="network_address" title="This field is required"/>
		                        </div>
		                    </div>
		                    <div class="control-group form-field clearfix">
		                        <label for="ip-version">IP Version</label>
		                        <span class="help-block"></span>
		                        <div class="input">
		                        	<select name="ip_version" id="ip_version">
		                            	<option value="4">IPv4</option>
		                            	<option value="6">IPv6</option>
		                        	</select>
		                        </div>
		                    </div>
		                    <div class="control-group form-field clearfix">
		                        <label for="gateway-ip">Gateway IP (optional)</label>
		                        <span class="help-block"></span>
		                        <div class="input">
		                            <input type="text" name="gateway_ip" id="gateway_ip"/>
		                        </div>
		                    </div>
		                    <div class="control-group form-field clearfix">
		                        <label for="disable-gateway">Disable Gateway</label>
		                        <span class="help-block"></span>
		                        <div class="input">
		                            <input type="checkbox" checked="checked" name="disable_gateway" value="" id="disable_gateway" />
		                        </div>
		                    </div>
		                </fieldset>
		            </div>
		            <div class="right">
		                <h3>Description</h3>
		                <p>
		                    You can create a subnet associated with the new network, in which case "Network Address" must be specified. If you wish to create a network WITHOUT a subnet, uncheck the "Create Subnet" checkbox.
		                </p>
		            </div>
		        </div>
			</div>


			<div id="input_subnet_detail" class="tab-pane tab-adjustable fade" style="display: none">
				<div class="modal-body clearfix">
		            <div class="left">
		                <fieldset>		            
		                    <div class="control-group form-field clearfix">
		                        <label for="enable-dhcp">Enable DHCP</label>
		                        <span class="help-block"></span>
		                        <div class="input">
		                            <input required type="checkbox" checked="checked" name="enable_dhcp" value="" id="enable_dhcp" />
		                        </div>
		                    </div>
		                    <div class="control-group form-field clearfix">
		                        <label for="allocation-pools">Allocation Pools</label>
		                        <span class="help-block"></span>
		                        <div class="input">
		                            <textarea id="allocation_pools" rows="3" cols="15" name="allocation_pools"></textarea>
		                        </div>
		                    </div>
		                    <div class="control-group form-field clearfix">
		                        <label for="dns-name-servers">DNS Name Servers</label>
		                        <span class="help-block"></span>
		                        <div class="input">
		                            <textarea id="dns_name_servers" rows="3" cols="15" name="dns_name_servers"></textarea>
		                        </div>
		                    </div>
		                    <div class="control-group form-field clearfix">
		                        <label for="host-routers">Host Routes</label>
		                        <span class="help-block"></span>
		                        <div class="input">
		                            <textarea id="host_routers" rows="3" cols="15" name="host_routers"></textarea>
		                        </div>
		                    </div>
		                </fieldset>
		            </div>
		            <div class="right">
		                <h3>Description</h3>
		                <p>
		                    You can specify additional attributes for the subnet.
		                </p>
		            </div>
				</div>
			</div>
		
		<div class="modal-footer">
	        <p class="mandatoryMess">* Mandatory fields.</p>
	        <input type="submit" id="create_network_button" class="btn btn-blue btn-create-network pull-right" value="Create"/>
	        <a id="cancelBtn-network" class="btn secondary cancel close">Cancel</a>
    	</div>
</form>

</script>



