<script id="createFlavorFormTemplate" type="text/html">
<div id="create_flavor" class="modal hide ">
    <!--
    Description: Create Flavor Form
    src: templates/forms/createFlavor.html
    -->
    <form id="form" onSubmit="return false;">
        <div class="modal-header">
            <a id="close" href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>Create Flavor</h3>
        </div>
        <div class="modal-body clearfix">
            <div class="left">
                <fieldset>
                    <div class="control-group form-field clearfix">
                        <label for="id_flavor_id">Flavor ID *</label>
                        <div class="input">
                            <input type="number" min="0" name="flavor_id" id="id_flavor_id"  required placeholder="Enter a whole number."/>
                        </div>
                    </div>
                    <div class="control-group form-field clearfix">
                        <label for="id_name">Name *</label>
                        <div class="input">
                            <input id="id_name" type="text" name="name" maxlength="25" required placeholder="This field is required."/>
                        </div>
                    </div>
                    <div class="control-group form-field clearfix">
                        <label for="id_vcpus">VCPUs *</label>
                        <div class="input">
                            <input id="id_vcpus" type="number" min="1" name="vcpus" maxlength="5" required placeholder="Enter a whole number, greater than 0."/>
                        </div>
                    </div>
                    <div class="control-group form-field clearfix">
                        <label for="id_memory_mb">Memory MB *</label>
                        <div class="input">
                            <input id="id_memory_mb" type="number" min="0" name="memory_mb" maxlength="5" required placeholder="Enter a whole number, greater than 0."/>
                        </div>
                    </div>
                    <div class="control-group form-field clearfix">
                        <label for="id_disk_gb">Root Disk GB *</label>
                        <div class="input">
                            <input id="id_disk_gb" type="number" min="0" name="disk_gb" maxlength="5" required placeholder="Enter a whole number."/>
                        </div>
                    </div>
                    <div class="control-group form-field clearfix">
                        <label for="id_eph_gb">Ephemeral Disk GB *</label>
                        <div class="input">
                            <input id="id_eph_gb" type="number" min="0" name="eph_gb" maxlength="5" required placeholder="Enter a whole number."/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="right">
                <h3>Description:</h3>
                <p>
                    From here you can define the sizing of a new flavor.
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <input id="submit" type="submit" class="btn btn-blue pull-right" value="Create Flavor">
            <a href="#syspanel/flavors/" id="cancelBtn" class="btn secondary cancel close">Cancel</a>
        </div>
    </form>
</div>
</script>

