<script id="createVolumeFormTemplate" type="text/html">
<div id="create_volume_modal" class="modal hide in" style="display: block; ">
    <!--
    Description: Create Volume Form
    src: templates/forms/createVolume.html
    -->
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3>Create Volume</h3>
    </div>

     <form id="form" onSubmit="return false;">
        <div class="modal-body clearfix">

            <div class="left">
                <fieldset>

                    <div class="control-group form-field clearfix">
                        <label for="id_name">Volume Name *</label>

                        <span class="help-block" style="display: none; "></span>
                        <div class="input">
                            <input required id="id_name" type="text" name="name" maxlength="255">
                        </div>
                    </div>

                    <div class="control-group form-field clearfix">
                        <label for="id_description">Description</label>

                        <span class="help-block" style="display: none; "></span>
                        <div class="input">
                            <textarea id="id_description" rows="10" cols="40" name="description"></textarea>
                        </div>
                    </div>

                    <div class="control-group form-field clearfix">
                        <label for="id_size">Size (GB) *</label>

                        <span class="help-block" style="display: none; "></span>
                        <div class="input">
                            <input required type="number" name="size" id="id_size">
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="right">
                <h3>Description</h3>
                <p>
                    Volumes are block devices that can be attached to instances.
                </p>
            </div>

        </div>
        <div class="modal-footer">
            <p class="mandatoryMess">* Mandatory fields.</p>
        	<input type="submit" class="btn btn-blue create-volume pull-right"value="Create Volume"/>
            <a id="cancelBtn" class="close btn seconday cancel close" data-dismiss="modal">Cancel</a>
            <!--<a id="cancelBtn" class="btn secondary cancel close">Cancel</a>-->
        </div>
    </form>
</div>
</script>