<script id="editSecurityGroupRulesFormTemplate" type="text/html">
<div id="edit_security_group_rule" class="modal hide ">
    <!--
    Description: Create Security Group Form
    src: templates/forms/createSecurityGroup.html
    -->
    <div class="modal-header">
        <a id="closeModal" href="#" class="close" data-dismiss="modal">&times;</a>
        <h3>Edit Security Group Rules</h3>
    </div>
    <div class="modal-body clearfix">

    	<div class='table_header'><h3 class='table_title'>Security Group Rules</h3></div>
    	<% if (securityGroupsModel.securityGroup.attributes.rules != "") { %>
    	<div class="table_actions clearfix">
          <button class='btn btn-small btn-danger btn-delete' disabled="disabled" name="action" id='deleteRulesBtn' value="security_group_rules__delete" type="submit">
                    Delete Rules
          </button>
         </div>
         <% } %>
    	 <table id="edit_security_group_rules" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="multi_select_column"></th>
                    <th class="">IP Protocol</th>
                    <th class="">From Port</th>
                    <th class="">To Port</th>
                    <th class="">Source</th>
                    <th class="actions_column">Actions</th>
                </tr>
            </thead>
            <tbody>
            	<% 	var securityGroupRules;
            		var i = 0;
            		if (securityGroupsModel.securityGroup.attributes.rules != "") {
	            		for (var i in securityGroupsModel.securityGroup.attributes.rules) {
		            		securityGroupRules = securityGroupsModel.securityGroup.attributes.rules[i];
            	%>
                <tr id="sec_groups__row__"
                class="ajax-update status_down">
                    <td class="multi_select_column">
                    <input type="checkbox" id="checkbox_sec_group_rule" class="checkbox_sec_group_rule" name="object_ids" value="<%=securityGroupRules.id%>" />
                    </td>
                    <td class=""><%= securityGroupRules.ip_protocol.toUpperCase()%></td>
                    <td class=""><%= securityGroupRules.from_port%></td>
                    <td class=""><%= securityGroupRules.to_port%></td>
                    <td class=""><%= securityGroupRules.group.name !== undefined ? securityGroupRules.group.name : securityGroupRules.ip_range.cidr+" (CIDR)"%></td>
                    <td class="actions_column hidden-phone">
	                	<div id="dropdown_" class="btn-group">
		                    <button id="deleteRuleBtn" value="<%=securityGroupRules.id%>" class="ajax-modal btn btn-small btn-blue btn-delete"  data-i18n="Delete Rule">Delete Rule</button>
	                	</div>
                	</td>
                 </tr>
               <% i++ } } else { %>
               	<tr class="odd empty">
                    <td colspan="6">No items to display.</td>
                </tr>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6"><span>Displaying <%= i%> items</span></td>
                    </td>
            </tfoot>
        </table>

        <form id="rulesForm" onSubmit="return false;">
           	<div class='table_header'><h3 class='table_title'>Add Rule</h3></div>

        	<fieldset class="row-fluid">
    	    	<div class="control-group form-field span3 inline IPProtocolSelect">
    				    <label for="id_name">IP Protocol</label>
    				 	<select id="container_switcher" tabindex="1">
    				 		<option value="TCP">TCP</option>
    				 		<option value="UDP">UDP</option>
    				 		<option value="ICMP">ICMP</option>
    				   	</select>
    			</div>

    			<div class="control-group form-field span2 inline-block fromPort">
    				    <label for="from_port">From Port</label>
    				    <div class="input">
    				      	<input id="from_port" rel="tooltip" data-placement="right" title="TCP/UDP: Enter integer value between 1 and 65535. ICMP: enter a value for ICMP type in the range (-1: 255)" type="number" name="fromPort" value="" required placeholder="Required field." maxlength="255" min="-1" max="65535">
    				    </div>
    			</div>

    			<div class="control-group form-field span2 inline toPort">
    				    <label for="to_port">To Port</label>
    				    <div class="input">
    				      	<input id="to_port" type="number" rel="tooltip" data-placement="right" title="TCP/UDP: Enter integer value between 1 and 65535. ICMP: enter a value for ICMP type in the range (-1: 255)" name="toPort" value="" required placeholder="Required field." maxlength="255" min="-1" max="65535">
    				    </div>
    			</div>

    			<div class="control-group form-field span3 inline-block secGroupSelect">
    				    <label for="id_name">Source Group</label>
    				 	<select id="container_switcher" tabindex="1">
    				 		<option value="CIDR">CIDR</option>
    				 		<optgroup label='Security Group'>
    				 		<% var securityGroupName, securityGroupId;
    					 		for (var index in securityGroupsModel.securityGroupsModel.models) {
    					 		var secGroupName = securityGroupsModel.securityGroupsModel.models[index].attributes.name;
    					 		if (secGroupName !== securityGroupsModel.securityGroup.attributes.name) {
    			 					securityGroupName = secGroupName;
    			 					securityGroupId = securityGroupsModel.securityGroupsModel.models[index].attributes.id;
    					 	%>
    				 		<option value="<%= securityGroupId%>"><%= securityGroupName%></option>
    				 		<% } } %>
    				 		</optgroup>
    				   	</select>
    			</div>

    			<div class="control-group form-field span2 inline-block cidrSelect">
    				    <label for="id_name">CIDR</label>
    				    <span class="help-block" >Classless Inter-Domain Routing (e.g. 192.168.0.0/24)</span>
    				    <div class="input">
    				    	<input id="cidr" rel="tooltip" data-placement="right" title="Classless Inter-Domain Routing (e.g. 192.168.0.0/24)" type="text" name="cidr" value="0.0.0.0/0" required maxlength="255" pattern="^([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])\/(\d|[0-2]\d|3[0-2])$">
    				    </div>
    			</div>
        	 </fieldset>

       	</div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-blue pull-right" name='<%= securityGroupsModel.securityGroup.attributes.id%>' value="Add Rule">
            <a id="cancelBtn" class="close btn seconday cancel close" data-dismiss="modal">Cancel</a>
        </div>
    </form>

</div>
</script>