<script id="editSecurityGroupRulesFormTemplate" type="text/html">
<div id="edit_security_group_rule" class="modal in">
    <!--
    Description: Create Security Group Form
    src: templates/forms/createSecurityGroup.html
    -->
    <form id="rulesForm" onSubmit="return false;">
        <div class="modal-header">
            <a id="closeModal" href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>Edit Security Group Rules</h3>
        </div>

        <div id="messHeader" class="modal-body clearfix">

            <%var securityGroupsModel = model.get(securityGroupId);%>

    	    <div class='table_header'><h3 class='table_title'>Security Group Rules</h3></div>

            <div id="edit_security_group_rules"></div>

            <div class='table_header'><h3 class='table_title'>Add Rule</h3></div>

        	<fieldset class="row-fluid">
    	    	<div class="control-group form-field span3 inline IPProtocolSelect">
    				    <label for="id_name">IP Protocol</label>
    				 	<select id="container_switcher" tabindex="1">
    				 		<option value="TCP">TCP</option>
    				 		<option value="UDP">UDP</option>
    				 		<option value="ICMP">ICMP</option>
    				   	</select>
    			</div>

    			<div class="control-group form-field span2 inline-block fromPort">
    				    <label for="from_port">From Port *</label>
    				    <div class="input">
    				      	<input id="from_port" rel="tooltip" data-placement="right" type="number" name="fromPort" value="" required placeholder="Required field." maxlength="255" min="-1" max="65535">
    				    </div>
    			</div>

    			<div class="control-group form-field span2 inline toPort">
    				    <label for="to_port">To Port *</label>
    				    <div class="input">
    				      	<input id="to_port" type="number" rel="tooltip" data-placement="right" name="toPort" value="" required placeholder="Required field." maxlength="255" min="-1" max="65535">
    				    </div>
    			</div>

    			<div class="control-group form-field span3 inline-block secGroupSelect">
    				    <label for="id_name">Source Group</label>
    				 	<select id="container_switcher" tabindex="1">
    				 		<option value="CIDR">CIDR</option>
    				 		<optgroup label='Security Group'>
    				 		<% var securityGroupName, securityGroupId;
    					 		for (var index in model.models) {
    					 		var secGroupName = model.models[index].get('name');
    					 		if (secGroupName !== securityGroupsModel.get('name')) {
    			 					securityGroupName = secGroupName;
    			 					securityGroupId = model.models[index].get('id');
    					 	%>
    				 		<option value="<%= securityGroupId%>"><%= securityGroupName%></option>
    				 		<% } } %>
    				 		</optgroup>
    				   	</select>
    			</div>

    			<div class="control-group form-field span2 inline-block cidrSelect">
    				    <label for="id_name">CIDR</label>
    				    <span class="help-block" >Classless Inter-Domain Routing (e.g. 192.168.0.0/24)</span>
    				    <div class="input">
    				    	<input id="cidr" rel="tooltip" data-placement="right" type="text" name="cidr" value="0.0.0.0/0" required maxlength="255" pattern="^([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])\/(\d|[0-2]\d|3[0-2])$">
    				    </div>
    			</div>
        	 </fieldset>

       	</div>

        <div class="log-messages-modal" id="log-messages-rules"></div>

        <div class="modal-footer">
            <p class="mandatoryMess">* Mandatory fields.</p>
            <input type="submit" class="btn btn-blue pull-right" name='<%= securityGroupsModel.get('id')%>' value="Add Rule">
            <a id="cancel" class="close btn seconday cancel close" data-dismiss="modal">Close</a>
        </div>
    </form>
</div>
</script>
