<script id="launchVDCTemplate" type="text/html">
<div id="launch_vdc" class="modal hide  in" style="display: block; ">

    <!--
    Description: Launch VDCForm
    src: templates/forms/launchVDC.html
    -->
    <div class="modal-header">
        <a id="close" href="#" class="close" data-dismiss="modal">&times;</a>
        <h3>Launch VDC</h3>
    </div>

    <div class="modal-body clearfix">

        <ul class="nav nav-tabs" id="myTab">
            <li class="active">
                <a data-toggle="tab" href="#general-info" class="btn-general-info">General Info</a>
            </li>
            <li>
                <a data-toggle="tab" href="#topology" class="btn-topology">Topology</a>
            </li>
            <li>
                <a data-toggle="tab" href="#capacity" class="btn-capacity">Capacity</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="general-info">
                <div class="left">
                    <fieldset>

                        <div class="control-group form-field clearfix">
                            <label for="id_name">VDC Name</label>

                            <span class="help-block" style="display: none; "></span>
                            <div class="input">
                                <input id="id_name" type="text" name="name" maxlength="80">
                            </div>
                        </div>

                        <div class="control-group form-field clearfix">
                            <label for="id_user_data">Description</label>

                            <span class="help-block" style="display: none; "></span>
                            <div class="input">
                                <textarea id="id_description" rows="10" cols="40" name="description"></textarea>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="right">
                    <h3>Description:</h3>
                    <p>
                        Specify the details for launching a virtual data center.
                    </p>
                    
                </div>
            </div>
            <div class="tab-pane" id="topology">
                <fieldset>
                <div class="left">
                    

                    <div class="control-group form-field clearfix">
                        <label for="id_network_name">Virtual Network Name</label>

                        <span class="help-block" style="display: none; "></span>
                        <div class="input">
                            <input id="id_network_name" type="text" name="name" maxlength="80">
                        </div>
                    </div>

                    <div class="control-group form-field clearfix">
                        <label for="id_user_data">Description</label>

                        <span class="help-block" style="display: none; "></span>
                        <div class="input">
                            <textarea id="id_network_description" rows="10" cols="40" name="description"></textarea>
                        </div>
                    </div>

                    
                </div>

                <div class="right">
                    <h3>Description:</h3>
                    <p>
                        Network to be used in the Virtual Data Center. 
                    </p>
                    <div class="control-group form-field clearfix">
                        <label for="id_user_data">Bandwidth (Gbps)</label>

                        <span class="help-block" style="display: none; "></span>
                        <div class="input">
                            <input id="id_network_bandwidth" type="text" name="bandwidth" maxlength="80">
                        </div>
                    </div>
                    
                    <div class="control-group form-field clearfix">
                        <label for="id_user_data">Size</label>

                        <span class="help-block" style="display: none; "></span>
                        <div class="input">
                            <input id="id_network_size" type="text" name="size" maxlength="80">
                        </div>
                    </div>
                </div>
                </fieldset>
            </div>
            <div class="tab-pane" id="capacity">
                <div class="left">
                    <fieldset>

                        <div class="control-group form-field clearfix">
                            <label for="id_name">Storage Capacity</label>

                            <span class="help-block" style="display: none; "></span>
                            <div class="input">
                                <input id="id_storage_capacity" type="text" name="name" maxlength="80">
                            </div>
                        </div>

                        <div class="control-group form-field clearfix">
                            <label for="id_name">vCPUs</label>

                            <span class="help-block" style="display: none; "></span>
                            <div class="input">
                                <input id="id_vcpus_capacity" type="text" name="name" maxlength="80">
                            </div>
                        </div>
                        
                        <div class="control-group form-field clearfix">
                            <label for="id_name">Memory (Gb)</label>

                            <span class="help-block" style="display: none; "></span>
                            <div class="input">
                                <input id="id_memory_capacity" type="text" name="name" maxlength="80">
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="right">
                    <h3>Description:</h3>
                    <p>
                        Specify the details for launching a virtual data center.
                    </p>
                </div>
            </div>
        </div>
        

    </div>
    <div class="modal-footer">
        
        <a id="cancelBtn" class="btn cancel close pull-left" data-i18n="Cancel">Cancel</a>
        
        <button class="btn btn-blue pull-right btn-accept" name="action" type="submit" data-i18n="Launch VDC">
            Launch VDC
        </button>

        <a class="btn btn-basic secondary btn-prev" data-i18n="Previous">
            Previous
        </a>

        <a class="btn btn-basic secondary btn-next" data-i18n="Next">
            Next
        </a>
        
        
    </div>

</div>
</script>