<script id="updateInstanceFormTemplate" type="text/html">
<div id="update_instance" class="modal hide ">
    <!--
    Description: Update Instance Form
    src: templates/forms/updateInstance.html
    -->
    <form id="update_instance_form" onSubmit="return false;">
        <div class="modal-header">
            <a id="close" href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>Update Instance</h3>
        </div>
        <div class="modal-body clearfix">
            <div class="left">
                <fieldset>
                    <div class="control-group form-field clearfix">
                        <label for="id_instance">Instance</label>
                        <span class="help-block"></span>
                        <div class="input">
                            <input readonly="readonly" type="text" name="instance" value="<%= model.id %>" id="id_instance"/>
                        </div>
                    </div>
                    <div class="control-group form-field clearfix">
                        <label for="id_name">Name</label>
                        <span class="help-block"></span>
                        <div class="input">
                            <input type="text" required maxlength="25" name="name" value="<%= model.get('name') %>" id="id_name" placeholder="This field is required."/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="right">
                <h3>Description:</h3>
                <p>
                    Update the name of your instance
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-blue pull-right" value="Update Instance"/>
            <a id="cancelBtn" class="close btn seconday cancel close" data-dismiss="modal">Cancel</a>
        </div>
    </form>
</div>
</script>