<script id="networkDetailTemplate" type="text/html">
<!--
Description: Network Detail
src: templates/root/neutron/networkDetail.html
-->
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
    <a href="#network_overview" data-toggle="tab">Network</a>
    </li>
  <li class="">
    <a href="#subnets" data-toggle="tab">Subnets</a>
    </li>
    <li class="">
    <a href="#ports" data-toggle="tab">Ports</a>
    </li>
</ul>

<div id="" class="tab-content tab-content-adjustable">
    <div id="network_overview" class="tab-pane tab-adjustable active"></div>
    <div id="subnets" class="tab-pane tab-adjustable fade"></div>
    <div id="ports" class="tab-pane tab-adjustable fade"></div>
</div>

</script>