<script id="routerDetailTemplate" type="text/html">
<!--
Description: Router Detail
src: templates/root/neutron/routerDetail.html
-->
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
    <a href="#router_overview" data-toggle="tab">Router</a>
    </li>
  <li class="">
    <a href="#interfaces" data-toggle="tab">Interfaces</a>
    </li>
</ul>

<div id="" class="tab-content tab-content-adjustable">
    <div id="router_overview" class="tab-pane tab-adjustable active"></div>
    <div id="interfaces" class="tab-pane tab-adjustable fade"></div>
</div>

</script>