<script id="changePasswordFormTemplate" type="text/html">
<div id="change_password" class="modal hide ">
  <div class="modal-header">
    <a id="close" href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Change Password</h3>
  </div>  
    <div class="modal-body clearfix">  
        <div class="left">
            <fieldset>  
                <input type="hidden" name="method" value="UpdateInstance" id="id_method" />
                <input type="hidden" name="tenant_id" value="cbcde8eaae154316a9c9406693d4c1d1" id="id_tenant_id" />
                    <div class="control-group form-field clearfix">
                        <label for="id_instance">Instance</label>
                        <span class="help-block"></span>
                        <div class="input">
                            <input readonly="readonly" type="text" name="instance" value="<%= model.id %>" id="id_instance" />
                        </div>
                    </div>
                    <div class="control-group form-field clearfix">
                        <label for="id_password">Password</label>                       
                        <span class="help-block"></span>
                        <div class="input">
                          <input type="password" name="instance_password" value="" id="id_password" />
                        </div>
                    </div>
            </fieldset>
        </div>
        <div class="right">
            <h3>Description:</h3>
            <p>Update the password of your instance</p>
        </div>
    </div>
    <div class="modal-footer">
      <a id="updateBtn" class="btn btn-primary pull-right" data-dismiss="modal">Change Password</a>
      <a id="cancelBtn" class="close btn seconday cancel close" data-dismiss="modal">Cancel</a>
      <!--<a id="cancelBtn" class="btn secondary cancel close">Cancel</a>-->
    </div>
</div>
</script>