<script id="createFlavorFormTemplate" type="text/html">
<div id="create_flavor" class="modal hide ">
  <div class="modal-header">
    <a id="close" href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Create Flavor</h3>
  </div> 
  <form id="create_flavor_form" action="/syspanel/flavors/create" method="POST">
	<div style='display:none'>
		<input type='hidden' name='csrfmiddlewaretoken' value='13de1d539e7690548408d1be1856eb9c' />
	</div>
	<div class="modal-body clearfix">		    		    
	<div class="left">
    	<fieldset>    
    		<input type="hidden" name="method" value="CreateFlavor" id="id_method" />
  			<input type="hidden" name="tenant_id" value="cbcde8eaae154316a9c9406693d4c1d1" id="id_tenant_id" />
  				<div class="control-group form-field clearfix">
    				<label for="id_flavor_id">Flavor ID</label>    
    				<span class="help-block"></span>
   	 				<div class="input">
      					<input type="number" name="flavor_id" id="id_flavor_id" required placeholder="Enter a whole number."/>
   	 				</div>
  				</div>
  				<div class="control-group form-field clearfix">
    				<label for="id_name">Name</label> 
    				<span class="help-block"></span>
					<div class="input">
					   	<input id="id_name" type="text" name="name" maxlength="25" required placeholder="This field is required."/>
					</div>
				</div>
				<div class="control-group form-field clearfix">
				   	<label for="id_vcpus">VCPUs</label>				    
				   	<span class="help-block"></span>
				   	<div class="input">
				      <input id="id_vcpus" type="number" name="vcpus" maxlength="5" required placeholder="Enter a whole number."/>
				   	</div>
				</div>				
				<div class="control-group form-field clearfix">
				    <label for="id_memory_mb">Memory MB</label>				    
				    <span class="help-block"></span>
				    <div class="input">
				      <input id="id_memory_mb" type="number" name="memory_mb" maxlength="5" required placeholder="Enter a whole number."/>
				    </div>
				</div>				
				<div class="control-group form-field clearfix">
				    <label for="id_disk_gb">Root Disk GB</label>				    
				    <span class="help-block"></span>
				    <div class="input">
				      <input id="id_disk_gb" type="number" name="disk_gb" maxlength="5" required placeholder="Enter a whole number."/>
				    </div>
				</div>				
				<div class="control-group form-field clearfix">
				    <label for="id_eph_gb">Ephemeral Disk GB</label>				    
				    <span class="help-block"></span>
				    <div class="input">
				      <input id="id_eph_gb" type="number" name="eph_gb" maxlength="5" required placeholder="Enter a whole number."/>
				    </div>
				</div>
    	</fieldset>
	</div>
	<div class="right">
    	<h3>Description:</h3>
    	<p>From here you can define the sizing of a new flavor.</p>
	</div>
	</div>
    <div class="modal-footer">
  		<a id="submit" class="btn btn-primary pull-right" data-dismiss="modal">Create Flavor</a>
  		<a href="#syspanel/flavors/" id="cancelBtn" class="btn secondary cancel close">Cancel</a>
	</div>
  </form>
</div>
</script>

