<script id="flavorsTemplate" type="text/html">
<div id="flavors">
	<div class="table_wrapper">
		<form action="#syspanel/flavors/" method="POST">
			<div style='display:none'>
				<input type='hidden' name='csrfmiddlewaretoken' value='13de1d539e7690548408d1be1856eb9c' />
			</div>
			<div class='table_header'>
  				<h3 class='table_title' data-i18n="Flavors">Flavors</h3>
  				<div class="table_actions clearfix">
            		<a href="#syspanel/flavors/create"  id="flavors__action_create__0" class="btn btn-small ajax-modal" data-i18n="Create Flavor">Create Flavor</a>
           	 		<a class='btn btn-small btn-danger' name="action" id= "flavors_delete" disabled=true "flavors__delete" type="submit" data-i18n="Delete Flavors">Delete Flavors</a>
  				</div>
			</div>
			<table id="flavors" class="table table-bordered table-striped">
			  	<thead>
			    	<tr>			      
				        <th class="multi_select_column"></th>				      
				        <th class="" data-i18n="Id">Id</th>				      
				        <th class="" data-i18n="Flavor Name">Flavor Name</th>				      
				        <th class="" data-i18n="VCPUs">VCPUs</th>				      
				        <th class="" data-i18n="Memory">Memory</th>				      
				        <th class="" data-i18n="Disk">Disk</th>				        
				        <th class="" data-i18n="Ephemeral Disk">Ephemeral Disk</th>				      
				        <th class="actions_column" data-i18n="Actions">Actions</th>			      
			    	</tr>
			  	</thead>
			  	<tbody>
			  	<% 
			  		for (var index in models) { 
					var flavor = models[index];
				%>
				<tr 
                    id="flavors__row__<%= models.length %>"
                    class="ajax-update status_down">
					<td class="multi_select_column">
						<input type="checkbox" id="checkbox_<%= flavor.get('id')%>" class="checkbox_flavor" name="object_ids" value="<%= flavor.get('id') %>" />
					</td>
					<td class=""><%= flavor.get('id')%></td>
					<td class=""><%= flavor.get('name')%></td>
					<td class=""><%= flavor.get('vcpus')%></td>
					<td class=""><%= flavor.get('ram')%></td>
					<td class=""><%= flavor.get('disk')%></td>
					<td class="">-</td> 
					<td class="actions_column">		
						<a href="#syspanel/flavors/delete" class='btn btn-small btn-danger' value="<%= flavor.get('id') %>" id= "flavor_delete" data-i18n="Delete Flavor">Delete Flavor </a>						
					</td>
				</tr>
				<% } %>					
			  	</tbody>
			  	<tfoot>
			    	<tr>
			      		<td colspan="8">
			       			<span><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", models.length)%></span>			        
			      		</td>
			    	</td>
			  	</tfoot>
			</table>
		</form>
	</div>
</div>
</script>