<script id="flavorsTemplate" type="text/html">
<form action="/syspanel/flavors/" method="POST"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='13de1d539e7690548408d1be1856eb9c' /></div>
<div class='table_header'>
  <h3 class='table_title'>Flavors</h3>
  <div class="table_actions clearfix">


    
        
            <a href='/syspanel/flavors/create/'  class="btn btn-small ajax-modal">Create Flavor</a>
        
    

    
        
            <button class='btn btn-small btn-danger' name="action" value="flavors__delete" type="submit">Delete Flavors</button>
        
    

</div>

</div>

<table id="flavors" class="table table-bordered table-striped">
  <thead>
    <tr>
      
        <th class="multi_select_column"></th>
      
        <th class="">ID</th>
      
        <th class="">Flavor Name</th>
      
        <th class="">VCPUs</th>
      
        <th class="">Memory</th>
      
        <th class="">Disk</th>
        
        <th class="">Ephemeral Disk</th>
      
        <th class="actions_column">Actions</th>
      
    </tr>
  </thead>
  <tbody>
  <% for (var index in models) { 
		var flavor = models[index];
		console.log(JSON.stringify(flavor));
		%>
    <tr id="flavors__row__<%= models.length %>" class="">
  <td class="multi_select_column"><input type="checkbox" name="object_ids" value="5" /></td>
  <td class=""><%= flavor.get('id')%></td>
  <td class=""><%= flavor.get('name')%></td>
  <td class=""><%= flavor.get('vcpus')%></td>
  <td class=""><%= flavor.get('ram')%></td>
  <td class=""><%= flavor.get('disk')%></td>
  <td class="">-</td>
  <td class="actions_column">


  <button  class="btn btn-small btn-danger" name="action" value="flavors__delete__<%= flavor.get('id') %>" type="submit">Delete Flavor</button>


  

</td>
</tr>
<% } %>


  
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8">
        <span>Displaying <%= models.length%> items</span>
        
      </td>
    </td>
  </tfoot>
</table>

</form>
</script>