<script id="imagesTemplate" type="text/html">   
<div id="images">
	<div class="table_wrapper">
  		<form action="#syspanel/images/images/" method="POST"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='13de1d539e7690548408d1be1856eb9c' /></div>
			<div style='display:none'>
				<input type='hidden' name='csrfmiddlewaretoken' value='13de1d539e7690548408d1be1856eb9c' />
			</div>
			<div class='table_header'>
  				<h3 class='table_title'>Images</h3>
  				<div class="table_actions clearfix">
        			<a class='btn btn-small btn-danger' name="action" id= "images_delete" disabled=true type="submit">Delete Images</a>
				</div>
			</div>
			<table id="images_tbl" class="table table-bordered table-striped">
			  <thead>
			    <tr>		      
			        <th class="multi_select_column"></th>			      
			        <th class="">Image Name</th>
			        <th class="">Type</th> 			      
			        <th class="">Status</th>
			        <th class="">Public</th>
			        <th class="">Container Format</th>      			      
			        <th class="actions_column">Actions</th>			      
			    </tr>
			  </thead>
			  <tbody>
			 	<% 
					for (var index in models) { 
					var image = models[index];
				%>
			  <tr 
			    	id="images__row__<%= models.length %>" 
			    	class="ajax-update status_down">
			  		<td class="multi_select_column">
			  			<input type="checkbox" name="object_ids" class="checkbox_image" id="checkbox_<%= image.get('id')%>" value="<%= image.get('id')%>" />
			  		</td>
					<td class="">
						<a href="#nova/images_and_snapshots/<%= image.get('id')%>">
							<%= image.get('name')%>
						</a>
					</td>
					<td class="">Image</td>
					<td class=""><%=image.get('status').toLowerCase()%></td>
					<td class="">Yes</td>
					<td class="">ARI</td>
					<td class="actions_column">
						<div id="dropdown_<%= image.get('id') %>" class="btn-group">
				 			<a href='#nova/images_and_snapshots/<%= image.get('id')%>/update'  id= "image_edit" name="action" type="submit" class="ajax-modal btn btn-small">Edit</a>
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu row_actions clearfix">
								<li class="clearfix">									
									<a href='#syspanel/images/delete' id= "image_delete" name="action" type="submit"  class="btn btn-small btn-danger btn-delete">Delete</a>
								</li>
							</ul>
						</div>
					</td>
			  </tr>
			  <% } %>			  
			  </tbody>
			  <tfoot>
			    <tr>
			      <td colspan="7">
			        <span>Displaying <%= models.length %> items</span>			        
			      </td>
			    </td>
			  </tfoot>
			</table>
		</form>
	</div>
</div>
</script>