<script id="imagesTemplate" type="text/html">
   
  <form action="/syspanel/images/images/" method="POST"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='13de1d539e7690548408d1be1856eb9c' /></div>
<div class='table_header'>
  <h3 class='table_title'>Images</h3>
  <div class="table_actions clearfix">


    
        
            <button class='btn btn-small btn-danger' name="action" value="images__delete" type="submit">Delete Images</button>
        
    

</div>

</div>

<table id="images" class="table table-bordered table-striped">
  <thead>
    <tr>
      
        <th class="multi_select_column"></th>
      
        <th class="">Name</th>
      
        <th class="">Type</th>
      
        <th class="">Status</th>
      
        <th class="">Public</th>
      
        <th class="">Container Format</th>
      
        <th class="actions_column">Actions</th>
      
    </tr>
  </thead>
  <tbody>
	<% for (var index in models) { 
		var image = models[index];
		console.log("Images");
		console.log(JSON.stringify(image));
		%>
    <tr id="images__row__" class="">
  		<td class="multi_select_column"><input type="checkbox" name="object_ids" value="<%= models.length %>" /></td>
		<td class=""><%= image.get('name')%></td>
		<td class="">Image</td>
		<td class=""><%=image.get('status').toLowerCase()%></td>
		<td class="">Yes</td>
		<td class="">AMI</td>
		<td class="actions_column">
			<div class="btn-group">
	 			<a href='/nova/images_and_snapshots/<%= image.get('id')%>/launch/'  class="ajax-modal btn btn-small">Launch</a>
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu row_actions clearfix">
					<li class="clearfix">
						<a href='/nova/images_and_snapshots/4/update/'  class="ajax-modal btn btn-small">Edit</a>
					</li>
				</ul>
			</div>
		</td>
	</tr>
	<% } %>

  
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">
        <span>Displaying <%= models.length %> items</span>
        
      </td>
    </td>
  </tfoot>
</table>

</form>



        </div>
</script>