<script id="instancesTemplate" type="text/html">
	<div id="instances" class="table_wrapper">
		<div class='table_header'>
		  <h3 class='table_title' data-i18n='Instances'>Instances</h3>
		  <div class="table_actions clearfix">
		    <button  id="instances_terminate" disabled=true class="btn btn-small btn-danger btn-terminate-group" name="action" value="instances__terminate" class="instances_terminate" type="submit" data-i18n="Terminate Instance">Terminate Instances</button>
		  </div>
		</div>
		  <table id="instances" class="table table-bordered table-striped">
		    <thead>
		      <tr>       
		          <th class="multi_select_column"></th>        
		          <th class="" data-i18n="Tenant">Tenant</th>        
		          <th class="" data-i18n="Host">Host</th>        
		          <th class="" data-i18n="Instance Name">Instance Name</th>        
		          <th class="" data-i18n="IP Address">IP Address</th>        
		          <th class="" data-i18n="Size">Size</th>        
		          <th class="" data-i18n="Status">Status</th>        
		          <th class="" data-i18n="Task">Task</th>        
		          <th class="" data-i18n="Power State">Power State</th>        
		          <th class="actions_column" data-i18n="Actions">Actions</th>        
		      </tr>
		    </thead>
		    <tbody>
		     <%
		        var tenants = {};
		        var flavorlist = {};
		        for (var index in projects.models) {
		            var project = projects.models[index];
		            tenants[project.id] = project.get("name");
		        }
		        for (var index in flavors.models) {
                    var flavor = flavors.models[index];
                    flavorlist[flavor.id] = flavor.get("ram") + " MB RAM | " + flavor.get("vcpus") + " VCPU | " + flavor.get("disk") + "GB Disk";
                }		        
                var POWER_STATES = {
                    0: "NO STATE",
                    1: "RUNNING",
                    2: "BLOCKED",
                    3: "PAUSED",
                    4: "SHUTDOWN",
                    5: "SHUTOFF",
                    6: "CRASHED",
                    7: "SUSPENDED",
                    8: "FAILED",
                    9: "BUILDING"
                };
		   		for (var index in models) { 
				var instance = models[index];
			 %> 
			 <tr  data-update-interval="2500" data-update-url="/syspanel/instances/?action=row_update&amp;table=instances&amp;obj_id=<%= instance.get('id')%>" id="instances__row__<%= instance.get('id')%>" class="ajax-update status_down">
			  <td class="multi_select_column"><input type="checkbox" name="object_ids" id="checkbox_<%= instance.get('id')%>" class="checkbox" value="<%= instance.get('id')%>" /></td>
			  <td class=""><%= tenants[instance.get("tenant_id")]%></td>
			  <td class=""><%= instance.get('OS-EXT-SRV-ATTR:host')%></td>
              <td class=""><a href="#nova/instances_and_volumes/instances/<%=instance.id%>/detail"><%= instance.get('name')%></a></td>
			  <td class="">
                    <ul>
                        <%               
                        if (instance.get("addresses") != null && instance.get("addresses").public != null) {
                            var addresses = instance.get("addresses").public;
                            var i = 0;
                            for (var index in addresses) {
                                i++; 
                                var address = addresses[index];
                        %>
                        <li><%= address.addr %></li>
                        <% }} %>
                    </ul>
                </td>
			  <td class="nowrap-col"><%=flavorlist[instance.get("flavor").id]%></td>
			  <td class="status_up"><%= instance.get('status')%></td>
			  <td class="status_up"><%= instance.get("OS-EXT-STS:task_state") ? instance.get("OS-EXT-STS:task_state") : "None"%></td>
			  <td class=""><%= POWER_STATES[instance.get("OS-EXT-STS:power_state")]%></td>
			  <td class="actions_column">
				<div class="btn-group">
				  <a href='#nova/instances_and_volumes/instances/<%= instance.get('id')%>/update'  id="instances__action_edit__0" class="btn btn-small ajax-modal btn-edit" data-i18n="Edit Instance">Edit Instance</a>
			      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			       <span class="caret"></span>
			      </a>
			       <ul class="dropdown-menu row_actions clearfix">    
						<% 
                     	if (instance.get("status") != "ERROR") { %>
                     		<li class="clearfix">
                                <button  id="instances__action_vnc__<%=i%>" class="btn btn-small btn-vnc" name="action" value="<%= instance.id %>" type="submit" data-i18n="VNC Console">VNC Console</button>
                            </li>
                      		<li class="clearfix">
                                <button  id="instances__action_log__<%=i%>" class="btn btn-small btn-log" name="action" value="<%= instance.id %>" type="submit" data-i18n="View Log">View Log</button>
                            </li>
                            <li class="clearfix">
                                <button  id="instances__action_snapshot__<%=i%>" class="btn btn-small btn-snapshot" name="action" value="<%= instance.id %>" type="submit" data-i18n="Snapshot">Snapshot</button>
                            </li>
                            <li class="clearfix">
                                <button  id="instances__action_pause__<%=i%>" class="btn btn-small btn-pause" name="action" value="<%= instance.id %>" type="submit" data-i18n="Pause Instance">Pause Instance</button>
                            </li>
                            <li class="clearfix">
                                <button  id="instances__action_suspend__<%=i%>" class="btn btn-small btn-suspend" name="action" value="<%= instance.id %>" type="submit" data-i18n="Suspend Instance">Suspend Instance</button>
                            </li>
                            <li class="clearfix">
                                <button  id="instances__action_password__<%=i%>" class="btn btn-small btn-danger btn-password" name="action" value="<%= instance.id %>" type="submit" data-i18n="Change Password">Change Password</button>
                            </li>
                            <li class="clearfix">
                                <button  id="instances__action_reboot__<%=i%>" class="btn btn-small btn-danger btn-reboot" name="action" value="<%= instance.id %>" type="submit" data-i18n="Reboot Instance">Reboot Instance</button>
                            </li>
                        <% } %>
                       	<li class="clearfix">
                     		<button  id="instances__action_terminate__<%=i%>" class="btn btn-small btn-danger btn-terminate" name="action" value="<%= instance.id %>" type="submit" data-i18n="Terminate Instance">Terminate Instance</button>
                    	</li>
			       </ul>  
				</div>
			  </td>
			 </tr>
		  <% } %>
		  </tbody>
		    <tfoot>
		      <tr>
		        <td colspan="12">
		          <span><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", models.length)%></span>          
		        </td>
		      </td>
		    </tfoot>
		  </table>
	</div>
</script>
