<script id="instancesTemplate" type="text/html">
<form action="/syspanel/instances/" method="POST"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='13de1d539e7690548408d1be1856eb9c' /></div>
<div class='table_header'>
  <h3 class='table_title'>Instances</h3>
  <div class="table_actions clearfix">


    
        
            <a href='/nova/images_and_snapshots/'  class="btn btn-small">Launch Instance</a>
        
    

    
        
            <button class='btn btn-small btn-danger' name="action" value="instances__terminate" type="submit">Terminate Instances</button>
        
    

</div>

</div>

<table id="instances" class="table table-bordered table-striped">
  <thead>
    <tr>
      
        <th class="multi_select_column"></th>
      
        <th class="">Name</th>
      
        <th class="">IP Address</th>
      
        <th class="">Size</th>
      
        <th class="">Status</th>
      
        <th class="">Task</th>
      
        <th class="">Power State</th>
      
        <th class="actions_column">Actions</th>
      
    </tr>
  </thead>
  <tbody>



  </tbody>
  <tfoot>
    <tr>
      <td colspan="8">
        <span>Displaying 1 item</span>
        
      </td>
    </td>
  </tfoot>
</table>

</form>
</script>