<script id="instancesTemplate" type="text/html">
<form action="/syspanel/instances/" method="POST"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='13de1d539e7690548408d1be1856eb9c' /></div>
<div class='table_header'>
  <h3 class='table_title'>Instances</h3>
  <div class="table_actions clearfix">
    <button  id="instances_terminate" class="btn btn-small btn-danger btn-terminate" disabled="disabled" name="action" value="instances_terminate" type="submit">Terminate Instances</button>
  </div>
</div>
  <table id="instances" class="table table-bordered table-striped">
    <thead>
      <tr>       
          <th class="multi_select_column"></th>
        
          <th class="">Tenant</th>
        
          <th class="">User</th>
        
          <th class="">Instance ID</th>
        
          <th class="">Host</th>
        
          <th class="">Instance Name</th>
        
          <th class="">IP Address</th>
        
          <th class="">Size</th>
        
          <th class="">Status</th>
        
          <th class="">Task</th>
        
          <th class="">Power State</th>
        
          <th class="actions_column">Actions</th>        
      </tr>
    </thead>
    <tbody>
       <%console.log(models);
   		for (var index in models) { 
		var instance = models[index];
		console.log("Instance");
		console.log(JSON.stringify(instance));
	   %> 
 <tr  data-update-interval="2500" data-update-url="/syspanel/instances/?action=row_update&amp;table=instances&amp;obj_id=<%= instance.get('id')%>" id="instances__row__<%= instance.get('id')%>" class="ajax-update status_down">
  <td class="multi_select_column"><input type="checkbox" name="object_ids" id="checkbox_<%= instance.get('id')%>" class="checkbox" value="<%= instance.get('id')%>" /></td>
  <td class=""><%= instance.get('tenant_id')%></td>
  <td class=""><%= instance.get('user_id')%></td>
  <td class=""><%= instance.get('id')%></td>
  <td class="">-</td>
  <td class=""><a href="/nova/instances_and_volumes/instances/99020a59-e076-4ffb-8b7e-5fbc287b7165/detail"></a><%= instance.get('name')%></td>
  <td class=""></td>
  <td class="">2GB RAM | 1 VCPU | 10.0GB Disk</td>
  <td class="status_down"><%= instance.get('status')%></td>
  <td class="status_unknown"><%= instance.get('OS-EXT-STS:task_state')%></td>
  <td class="">No State</td>
  <td class="actions_column">
	<div class="btn-group">
	  <a href='/nova/instances_and_volumes/instances/<%= instance.get('id')%>/update'  id="instances__action_edit__0" class="btn btn-small ajax-modal btn-edit">Edit Instance</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
       <span class="caret"></span>
      </a>
       <ul class="dropdown-menu row_actions clearfix">        
          <li class="clearfix">             
 			 <button  id="instance__action_terminate" class="btn btn-small btn-danger btn-terminate" name="action" value="instances__terminate__<%= instance.get('id')%>" type="submit">Terminate Instance</button>
		  </li> 
       </ul>  
	</div>
  </td>
 </tr>
  <% } %>
  
<div class="modal hide" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Confirm Delete Flavors</h3>
  </div>
  <div class="modal-body">
    Please confirm your selection. This action cannot be undone.
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Delete Flavors</a>
    <a href="#" class="btn cancel" data-dismiss="modal">Cancel</a>
  </div>
</div>

    </tbody>
    <tfoot>
      <tr>
        <td colspan="12">
          <span>Displaying <%= models.length%> items</span>          
        </td>
      </td>
    </tfoot>
  </table>
</form>
</script>