<script id="novaVolumesTemplate" type="text/html">
    <div class="table_wrapper">
        <div style='display:none'>
            </div>
            <div class='table_header'>
                <h3 class='table_title'>Volumes</h3>
                <div class="table_actions clearfix">
                    <a id="volumes_create" class="btn btn-small ajax-modal btn-create">Create Volume</a>
                    <button id="volumes_delete" disabled=true class="btn btn-small btn-danger btn-terminate-group" name="action" value="volumes__delete" class="volumes_delete" type="submit" data-i18n="Delete Volume">Delete Volumes</button>
                </div>
            </div>
            <table id="volumes" class="table table-bordered table-striped">
            <thead>
              <tr>
              <th class="multi_select_column"></th>
              <th class="">Name</th>
              <th class="">Description</th>
              <th class="">Size</th>
              <th class="">Status</th>
              <th class="">Attachments</th>
              <th class="actions_column">Actions</th>
              </tr>
            </thead>
            <tbody>
            <% 
                var i = 0;
                for (var index in models) {
                    i++; 
                    var volume = models[index];
                %>     
                <tr id="volumes__row__<%=volume.id%>" class="status_unknown">
                    <td class="multi_select_column">
                        <input id="checkbox_<%= volume.get('id')%>" type="checkbox" name="object_ids" class="checkbox checkbox_volumes"  value="<%= volume.get('id') %>" />
                    </td>
                    <td class=""><a href="#nova/instances_and_volumes/volumes/<%=volume.id%>/detail"><%= volume.get("display_name")%></a></td>
                    <td class=""><%= volume.get("display_description")%></td>
                    <td class=""><%= volume.get("size")%> GB</td>
                    <td class="status_unknown"><i class="icon-updating ajax-updating"></i><%= volume.get("status")%></td>
                    <td class=""><%= (volume.get("attachments").length == 0) ? "-": volume.get("attachments").length%></td><td class="actions_column">
                    </td>
                </tr>
                <% 
                }
                %>
            </tbody>
            <tfoot>
                <tr>
                <td colspan="7">
                  <span>Displaying <%= models.length %> items</span>                  
                </td>
                </tr>
            </tfoot>
        </table>
</script>