<script id="projectsTemplate" type="text/html">
<form action="/syspanel/projects/" method="POST"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='13de1d539e7690548408d1be1856eb9c' /></div>
<div class='table_header'>
  <h3 class='table_title'>Projects</h3>
  <div class="table_actions clearfix">

    <div class="table_search">
        <input class="span3 example" value="" type="text" name="tenants__filter__q" />
        <button type="submit" class="btn btn-small filter">Filter</button>
    </div>


    

    
        
            <a href='/syspanel/projects/create'  class="btn btn-small ajax-modal">Create New Project</a>
        
    

    
        
            <button class='btn btn-small btn-danger' name="action" value="tenants__delete" type="submit">Delete Projects</button>
        
    

</div>

</div>

<table id="tenants" class="table table-bordered table-striped">
  <thead>
    <tr>
      
        <th class="multi_select_column"></th>
      
        <th class="">Id</th>
      
        <th class="">Name</th>
      
        <th class="">Description</th>
      
        <th class="">Enabled</th>
      
        <th class="actions_column">Actions</th>
      
    </tr>
  </thead>
  <tbody>
    <% for (var index in models) { 
		var project = models[index];
		console.log("Projects");
		console.log(JSON.stringify(project));
		%>
    <tr id="tenants__row__4" class="">
  	<td class="multi_select_column">
  		<input type="checkbox" name="object_ids" value="<%= project.get('id') %>" />
  	</td>
  	<td class=""><%= project.get('id')%></td>
  	<td class=""><%= project.get('name')%></td>
  	<td class=""><%= project.get('description')%></td>
  	<td class="satus_up"><%= project.get('enabled')%></td>
  	<td class="actions_column">


<div class="btn-group">
    
        
          
  <a href='/syspanel/projects/4/update/'  class="ajax-modal btn btn-small">Edit Project</a>


          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu row_actions clearfix">
        
        
    
        
          <li class="clearfix">
              
  <a href='/syspanel/projects/4/usage/'  class="btn btn-small">View Usage</a>


          </li>
        
        
    
        
          <li class="clearfix">
              
  <a href='/syspanel/projects/4/users/'  class="btn btn-small">Modify Users</a>


          </li>
        
        
    
        
          <li class="clearfix">
              
  <a href='/syspanel/projects/4/quotas/'  class="ajax-modal btn btn-small">Modify Quotas</a>


          </li>
        
        
    
        
          <li class="clearfix">
              
  <button  class="btn btn-small btn-danger" name="action" value="tenants__delete__4" type="submit">Delete Project</button>


          </li>
        
        
          </ul>
        
    
</div>


</td>
</tr>
<% } %>
  
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">
        <span>Displaying <%= models.length%> items</span>
        
      </td>
    </td>
  </tfoot>
</table>

</form>
</script>