<script id="settingsTemplate" type="text/html">
<div id="language_settings_modal" class="static_page">
	<div class="modal-header">
		<h3 data-i18n='Select Language'>Select Language</h3>
	</div>
	<div class="modal-body clearfix">    
		<div class="left">
			<h3>Dashboard User Interface Language</h3>
			<fieldset>
				<label for="language_select">Language Settings</label>
				<div class="input">
					<p><select name="language">
						<option selected="" value="en">English (en)</option>
						<option value="it">italiano (it)</option>
						<option value="es">español (es)</option>
						<option value="fr">Français (fr)</option>
						<option value="ja">日本語 (ja)</option>
						<option value="pt">Português (pt)</option>
						<option value="pl">polski (pl)</option>
						<option value="zh-cn">简体中文 (zh-cn)</option>
						<option value="zh-tw">繁體中文 (zh-tw)</option>
					</select></p>
				</div></fieldset>
			</div>
			<div class="right">
				<h3 data-i18n='Description:'>Description:</h3>
				<p>From here you can modify different settings for your dashboard.</p>
			</div>
		</div>
		<div class="modal-footer">
			<input id="select" class="btn btn-primary" type="submit" value="Select Language">
		</div>
	</form>
</div>
</script>