<script id="flavorsTemplate" type="text/html">
<!--
Description: Flavors
src: templates/root/sys/flavors.html
-->
<div id="flavors">
    <div class="table_wrapper">
        <div class='table_header'>
            <div class="table_actions clearfix">
                <a href="#syspanel/flavors/create"  id="flavors__action_create__0" class="btn btn-blue btn-small ajax-modal" data-i18n="Create Flavor">Create Flavor</a>
                <button class='btn  btn-small btn-danger btn-delete-group' name="action" id="flavors_delete" value="flavors__delete" disabled=true type="submit" data-i18n="Delete Flavors">
                    Delete Flavors
                </button>
            </div>
        </div>
        <table id="flavors" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="multi_select_column"></th>
                    <th class="hidden-phone" data-i18n="Id">Id</th>
                    <th class="" data-i18n="Flavor Name">Flavor Name</th>
                    <th class="" data-i18n="VCPUs">VCPUs</th>
                    <th class="" data-i18n="Memory">Memory</th>
                    <th class="" data-i18n="User Disk">Disk</th>
                    <th class="hidden-phone" data-i18n="Ephemeral Disk">Ephemeral Disk</th>
                    <th class="actions_column hidden-phone" data-i18n="Actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <%
                var i = 0;
                for (var index in models) {
                i++;
                var flavor = models[index];
                %>
                <tr
                id="flavors__row__<%= models.length %>"
                class="ajax-update status_down">
                    <td class="multi_select_column">
                    <input id="checkbox_<%= flavor.get('id')%>" class="checkbox" name="object_ids" value="<%= flavor.get('id') %>" type="checkbox"/>
                    </td>
                    <td class="hidden-phone"><%= flavor.get('id')%></td>
                    <td class=""><%= flavor.get('name')%></td>
                    <td class=""><%= flavor.get('vcpus')%></td>
                    <td class=""><%= flavor.get('ram')%></td>
                    <td class=""><%= flavor.get('disk')%></td>
                    <td class="hidden-phone"><%= flavor.get('OS-FLV-EXT-DATA:ephemeral') || flavor.get('ephemeral')%></td>
                    <td class="actions_column hidden-phone">
                    <button id="flavors__action_delete__<%=i%>" class="btn btn-small btn-danger btn-delete" name="action" value="<%= flavor.get('id') %>" type="submit" data-i18n="Delete Flavor">
                        Delete Flavor
                    </button></td>
                </tr>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8"><span class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", models.length)%></span></td>
                    </td>
            </tfoot>
        </table>
    </div>
</div>
</script>