<script id="flavorsTemplate" type="text/html">
<!--
Description: Flavors
src: templates/root/sys/flavors.html
-->
<div id="flavors">
        <div class='table_header'>
            <div class="table_actions clearfix">
            <% if (!isProjectTab) { %>
                <a href="#syspanel/flavors/create"  id="flavors__action_create__0" class="btn btn-blue btn-small ajax-modal" data-i18n="Create Flavor">Create Flavor</a>
                <button class='btn  btn-small btn-danger btn-delete-group' name="action" id="flavors_delete" value="flavors__delete" disabled=true type="submit" data-i18n="Delete Flavors">
                    Delete Flavors
                </button>
            <% } %>
            </div>
        </div>
        <table id="flavors_head" class="table table-bordered table-striped table-header">
            <thead>
                <tr>
                    <!--<td style="width:5%" class="multi_select_column">
                        <input id="checkbox_all" class="checkbox  checkbox_all" name="object_ids" type="checkbox"/>
                    </td>-->
                    <% if (!isProjectTab) { %>
                    <td style="width:5%" class="tip" data-tooltip="Flavor's identifier." data-i18n="Id">Id</td>
                    <% } %>
                    <td style="width:35%" class="tip" data-tooltip="Flavor's name." data-i18n="Flavor Name">Flavor Name</td>
                    <td style="width:5%" class="tip" data-tooltip="Number of virtual CPUs." data-i18n="VCPUs">VCPUs</td>
                    <td style="width:10%" class="tip" data-tooltip="RAM availability." data-i18n="Memory">Memory</td>
                    <td style="width:10%" class="tip" data-tooltip="User disk availability." data-i18n="User Disk">Disk</td>
                    <td style="width:15%" class="hidden-phone tip" data-tooltip="Ephemeral disk availability." data-i18n="Ephemeral Disk">Ephemeral Disk</td>
                    <% if (!isProjectTab) { %>
                    <td style="width:15%" class="actions_column hidden-phone" data-i18n="Actions">Actions</td>
                    <% } %>
                </tr>
            </thead>
        </table>
        <div class="scrollable">
            <table id="flavors" class="table table-without-margins table-bordered without-borders table-striped table-scrolled">
                <tbody>
                    <%
                    var i = 0;
                    for (var index in models) {
                    i++;
                    var flavor = models[index];
                    %>
                    <tr
                    id="flavors__row__<%= models.length %>"
                    class="ajax-update status_down">
                        <!--<td style="width:5%" class="multi_select_column">
                        <input id="checkbox_<%= flavor.get('id')%>" class="checkbox" name="object_ids" value="<%= flavor.get('id') %>" type="checkbox"/>
                        </td>-->
                        <% if (!isProjectTab) { %>
                        <td style="width:5%" class="hidden-phone"><%= flavor.get('id')%></td>
                        <% } %>
                        <td style="width:35%" class=""><%= flavor.get('name')%></td>
                        <td style="width:5%" class=""><%= flavor.get('vcpus')%></td>
                        <td style="width:10%" class=""><%= flavor.get('ram')%></td>
                        <td style="width:10%" class=""><%= flavor.get('disk')%></td>
                        <td style="width:15%" class="hidden-phone"><%= flavor.get('OS-FLV-EXT-DATA:ephemeral') || flavor.get('ephemeral')%></td>
                        <% if (!isProjectTab) { %>
                        <td style="width:15%" class="actions_column hidden-phone">
                        <button id="flavors__action_delete__<%=i%>" class="btn btn-small btn-danger btn-delete" name="action" value="<%= flavor.get('id') %>" type="submit" data-i18n="Delete Flavor">
                            Delete Flavor
                        </button></td>
                        <% } %>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <table id="flavors_foot" class="table-foot table table-bordered table-striped table-without-margins">
            <tfoot>
                <tr>
                    <td colspan="8"><span class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", models.length)%></span></td>
                    </td>
            </tfoot>
        </table>
</div>
</script>