<script id="imagesTemplate" type="text/html">
<!--
Description: Images
src: templates/root/sys/images.html
-->
<div id="images" class="table_wrapper">
    <div class='table_header'>
        <h3>List of images</h3>
        <div class="table_actions clearfix">
            <!--<button  id="images_delete" disabled=true class="btn btn-small btn-danger btn-delete-group" name="action" value="images_delete" class="images_delete" type="submit" data-i18n="Delete Images">
                Delete Images
            </button>-->
        </div>
    </div>
    <table id="images_tbl" class="table table-bordered table-striped">
        <thead>
            <tr>
                <!--<th class="multi_select_column"></th>-->
                <th class="tip" data-tooltip="Name of the image." data-i18n="Image Name">Image Name</th>
                <th class="hidden-phone tip" data-tooltip="Type of image: Image, Snapshot, ..." data-i18n="Type">Type</th>
                <th class="tip" data-tooltip="Image's status: building, active, ..." data-i18n="Status">Status</th>
                <th class="tip" data-tooltip="Check if the image is open to the public." data-i18n="Public">Public</th>
                <th class="tip" data-tooltip="Image's container format." data-i18n="Container Format">Container Format</th>
                <th class="actions_column hidden-phone"  data-i18n="Actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% 	var i = 0;
            for (var index in models) {
            var image = models[index];
            if (image.get('server') !== undefined) {
                continue;
            }
            var container_format = image.get('container_format') || '-';
            container_format = container_format.toUpperCase();
            i++;
            %>
            <tr
            id="images__row__<%= models.length %>"
            class="ajax-update status_down">
                <!--<td class="multi_select_column">
                <input type="checkbox" name="object_ids" class="checkbox" id="checkbox_<%= image.get('id')%>" value="<%= image.get('id')%>" />
                </td>-->
                <td class=""><a href="#nova/images/<%= image.get('id')%>"> <%= image.get('name')%></a></td>
                <td class="hidden-phone" data-i18n="Image">Image</td>
                <td class=""><%=image.get('status').toLowerCase()%></td>
                <td class="" data-i18n="Yes"><%=image.get('is_public')%></td>
                <td class=""><%=container_format%></td>
                <td class="actions_column hidden-phone">
                    <div id="dropdown_<%= image.get('id') %>" class="btn-group">
                        <button  id="images__action_launch__<%=i%>" class="ajax-modal btn btn-small btn-blue btn-launch" name="action" value="<%= image.id %>" type="submit" data-i18n="Launch">        
                            Launch
                        </button>
                        <!--<a class="btn btn-small btn-blue dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret-white caret"></span> </a>
                        <ul class="dropdown-menu row_actions clearfix">
                            <li class="clearfix">
                                <a href='#nova/images/<%= image.get('id')%>/update'  id= "image_edit" name="action" type="submit" class="btn btn-small btn-blue btn-edit"  data-i18n="Edit">Edit</a>

                                <button  id="images__action_delete__<%=i%>" class="btn btn-small btn-danger btn-delete" name="action" value="<%= image.id %>" type="submit" data-i18n="Delete">
                                    Delete
                                </button>
                            </li>
                        </ul>-->
                    </div>
                </td>
            </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7"><span class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", i)%></span></td>
                </td>
        </tfoot>
    </table>
</div>
</script>