<script id="imagesTemplate" type="text/html">
<!--
Description: Images
src: templates/root/sys/images.html
-->
<div id="images">
    <div class='table_header'>
        <div class="table_actions clearfix">
            <!--<button  id="images_delete" disabled=true class="btn btn-small btn-danger btn-delete-group" name="action" value="images_delete" class="images_delete" type="submit" data-i18n="Delete Images">
                Delete Images
            </button>-->
        </div>
    </div>
    <table id="images_head" class="table table-bordered table-striped table-header">
        <thead>
            <tr>
                <!--<td style="width:5%" class="multi_select_column"></td>-->
                <td style="width:35%" class="tip" data-tooltip="Name of the image." data-i18n="Image Name">Image Name</td>
                <td style="width:10%" class="hidden-phone tip" data-tooltip="Type of image: Image, Snapshot, ..." data-i18n="Type">Type</td>
                <td style="width:10%" class="tip" data-tooltip="Image's status: building, active, ..." data-i18n="Status">Status</td>
                <td style="width:10%" class="tip" data-tooltip="Check if the image is open to the public." data-i18n="Public">Public</td>
                <td style="width:15%" class="tip" data-tooltip="Image's container format." data-i18n="Container Format">Container Format</td>
                <td style="width:15%" class="actions_column hidden-phone"  data-i18n="Actions">Actions</td>
            </tr>
        </thead>
    </table>
    <div class="scrollable">
        <table id="images_tbl" class="table table-without-margins table-bordered without-borders table-striped table-scrolled">
        <tbody>
            <% 	var i = 0;
            for (var index in models) {
            var image = models[index];
            if (image.get('server') !== undefined) {
                continue;
            }
            var container_format = image.get('container_format') || '-';
            container_format = container_format.toUpperCase();
            i++;
            %>
            <tr
            id="images__row__<%= models.length %>"
            class="ajax-update status_down">
                <!--<td style="width:5%" class="multi_select_column">
                <input type="checkbox" name="object_ids" class="checkbox" id="checkbox_<%= image.get('id')%>" value="<%= image.get('id')%>" />
                </td>-->
                <td style="width:35%" class=""><a href="#nova/images/<%= image.get('id')%>"> <%= image.get('name')%></a></td>
                <td style="width:10%" class="hidden-phone" data-i18n="Image">Image</td>
                <td style="width:10%" class=""><%=image.get('status').toLowerCase()%></td>
                <td style="width:10%" class="" data-i18n="Yes"><%=image.get('is_public')%></td>
                <td style="width:15%" class=""><%=container_format%></td>
                <td style="width:15%" class="actions_column hidden-phone">
                    <div id="dropdown_<%= image.get('id') %>" class="btn-group">
                        <button  id="images__action_launch__<%=i%>" class="ajax-modal btn btn-small btn-blue btn-launch" name="action" value="<%= image.id %>" type="submit" data-i18n="Launch">
                            Launch
                        </button>
                        <!--<a class="btn btn-small btn-blue dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret-white caret"></span> </a>
                        <ul class="dropdown-menu row_actions clearfix">
                            <li class="clearfix">
                                <a href='#nova/images/<%= image.get('id')%>/update'  id= "image_edit" name="action" type="submit" class="btn btn-small btn-blue btn-edit"  data-i18n="Edit">Edit</a>

                                <button  id="images__action_delete__<%=i%>" class="btn btn-small btn-danger btn-delete" name="action" value="<%= image.id %>" type="submit" data-i18n="Delete">
                                    Delete
                                </button>
                            </li>
                        </ul>-->
                    </div>
                </td>
            </tr>
            <% } %>
        </tbody>
        </table>
    </div>
    <table id="images_foot" class="table-foot table table-bordered table-striped table-without-margins">
        <tfoot>
            <tr>
                <td colspan="7"><span class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", i)%></span></td>
                </td>
        </tfoot>
    </table>
</div>
</script>