<script id="projectsTemplate" type="text/html">
<!--
Description: Projects
src: templates/root/sys/projects.html
-->
    <div class='table_header'>
        <div class="table_actions clearfix">

            <button class="btn btn-small btn-blue btn-create-project" data-i18n="Create New Project">Create New Project</button>
            <div id="dropdown_actions" class="btn-group">

                    <button class="btn btn-small btn-blue" data-toggle="dropdown" tdata-i18n="Actions">Actions</button>

                    <a class="btn dropdown-toggle btn-small btn-blue"  data-toggle="dropdown"> <span class="caret caret-white"></span> </a>
                    <ul id="dropdown_options" class="dropdown-menu row_actions clearfix">

                        <li class="clearfix">

                            <button class="btn btn-small btn-edit-actions" value="" disabled="disabled" data-i18n="Edit Project">Edit Project</button>

                        </li>

                        <!--<li class="clearfix">

                            <a class="btn btn-small btn-view-usage-actions" disabled="disabled" data-i18n="View Usage">View Usage
                            </a>

                        </li>-->

                        <li class="clearfix">

                            <button class="btn btn-small btn-modify-users-actions"  value="" disabled="disabled" data-i18n="Modify Users">Modify Users
                            </button>

                        </li>

                        <!-- <li class="clearfix">

                            <button class="btn btn-small btn-modify-quotas-actions"  class="ajax-modal btn btn-small" value="" disabled="disabled" data-i18n="Modify Quotas">Modify Quotas
                            </button>

                        </li> -->

                        <li class="clearfix">

                            <button  class="btn btn-small btn-danger btn-delete-projects-actions" value="" disabled="disabled" data-i18n="Delete Projects">
                                Delete Projects
                            </button>

                        </li>

                    </ul>

                </div>
            <!--<button class='btn btn-small btn-danger btn-delete-group' id="projects_delete" disabled="disabled" name="action" value="tenants__delete" type="submit" data-i18n="Delete Projects">
                Delete Projects
            </button>-->

        </div>

    </div>

    <table id="tenants_head" class="table table-bordered table-striped">
        <thead>
            <tr>


                <td style="width:5%" class="multi_select_column">
                    <input type="checkbox" class="checkbox checkbox_all">
                </td>

                <td style="width:35%" class="tip" data-tooltip="Project's name" data-i18n="Name">Name</td>

                <td style="width:35%" class="tip" data-tooltip="Project's description." data-i18n="Description">Description</td>

                <td style="width:10%" class="tip" data-tooltip="Check if the project is available to be used." data-i18n="Enabled">Enabled</td>

                <td style="width:15%" class="actions_column hidden-phone" data-i18n="Actions">Actions</td>

            </tr>
        </thead>
    </table>

    <div class="scrollable">
        <table id="tenants" class="table table-without-margins table-bordered without-borders table-striped table-scrolled">
        <tbody>
            <%
            for (var index in models) {
            var project = models[index];
            %>
            <tr id="tenants__row__4" class="">
                <td style="width:5%" class="multi_select_column">
                <input id="checkbox_<%= project.get('id') %>" type="checkbox" name="object_ids" value="<%= project.get('id')%>" class="checkbox checkbox_projects"/>
                </td>
                <td style="width:35%" class=""><%= project.get('name')%></td>
                <td style="width:35%" class=""><%= project.get('description')%></td>
                <td style="width:10%" class="satus_up"><%= project.get('enabled')%></td>
                <td style="width:105%" class="actions_column hidden-phone">
                <div id="dropdown_<%= project.get('id') %>" class="btn-group">

                    <button class="ajax-modal btn btn-small btn-blue btn-edit" value="<%= project.get('id')%>" data-i18n="Edit Project">Edit Project</button>

                    <a class="btn dropdown-toggle btn-small btn-blue"  data-toggle="dropdown" href="#"> <span class="caret caret-white"></span> </a>
                    <ul class="dropdown-menu row_actions clearfix">

                        <!--<li class="clearfix">

                            <a href='/syspanel/projects/<%=project.get('id')%>/usage/'  class="btn btn-small" data-i18n="View Usage">View Usage</a>

                        </li>-->

                        <li class="clearfix">

                            <a href='#syspanel/projects/<%=project.get('id')%>/users/' class="btn btn-small btn-modify"  value="<%= project.get('id')%>" data-i18n="Modify Users">Modify Users</a>

                        </li>

                        <!-- <li class="clearfix">

                            <button class="btn btn-small btn-modify-quotas"  class="ajax-modal btn btn-small" value="<%= project.get('id')%>" data-i18n="Modify Quotas">
                            	Modify Quotas
                            </button>

                        </li> -->

                        <li class="clearfix">

                            <button  class="btn btn-small btn-danger btn-delete" name="action" value="<%= project.get('id')%>" type="submit" data-i18n="Delete Project">
                                Delete Project
                            </button>

                        </li>

                    </ul>

                </div></td>
            </tr>
            <% } %>

        </tbody>
        </table>
        </div>
            <table id="tenants_foot" class="table-foot table table-bordered table-striped table-without-margins">
                <tfoot>
                    <tr>
                        <td colspan="5"><span  class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", models.length)%></span></td>
                        </td>
                </tfoot>
            </table>
</script>