<script id="projectsTemplate" type="text/html">
<!--
Description: Projects
src: templates/root/sys/projects.html
-->
    <div class='table_header'>
        <div class="table_actions clearfix">

            <div class="table_search">
                <input class="inline" value="" type="text" name="tenants__filter__q" />
                <button type="submit" class="btn btn-blue btn-small inline-block filter" data-i18n="Filter">
                    Filter
                </button>
            </div>

            <button class="btn btn-small btn-blue btn-create-project" data-i18n="Create New Project">Create New Project</button>

            <button class='btn btn-small btn-danger btn-delete-group' id="projects_delete" disabled="disabled" name="action" value="tenants__delete" type="submit" data-i18n="Delete Projects">
                Delete Projects
            </button>

        </div>

    </div>

    <table id="tenants" class="table table-bordered table-striped">
        <thead>
            <tr>
            	
            	
                <th class="multi_select_column">
                	<input type="checkbox" class="checkbox checkbox_all">
                </th>

                <th class="hidden-phone" data-i18n="Id">Id</th>

                <th class="" data-i18n="Name">Name</th>

                <th class="" data-i18n="Description">Description</th>

                <th class="" data-i18n="Enabled">Enabled</th>

                <th class="actions_column hidden-phone" data-i18n="Actions">Actions</th>

            </tr>
        </thead>
        <tbody>
            <% for (var index in models) {
            var project = models[index];
            %>
            <tr id="tenants__row__4" class="">
                <td class="multi_select_column">
                <input type="checkbox" name="object_ids" class="checkbox checkbox_projects" "<%= project.get('id') %>" />
                </td>
                <td class="hidden-phone"><%= project.get('id')%></td>
                <td class=""><%= project.get('name')%></td>
                <td class=""><%= project.get('description')%></td>
                <td class="satus_up"><%= project.get('enabled')%></td>
                <td class="actions_column hidden-phone">
                <div class="btn-group">

                    <button class="ajax-modal btn btn-small btn-blue btn-edit" data-i18n="Edit Project">Edit Project</button>

                    <a class="btn dropdown-toggle btn-small btn-blue" data-toggle="dropdown" href="#"> <span class="caret caret-white"></span> </a>
                    <ul class="dropdown-menu row_actions clearfix">

                        <li class="clearfix">

                            <a href='/syspanel/projects/4/usage/'  class="btn btn-small" data-i18n="View Usage">View Usage</a>

                        </li>

                        <li class="clearfix">

                            <a href='/syspanel/projects/4/users/'  class="btn btn-small" data-i18n="Modify Users">Modify Users</a>

                        </li>

                        <li class="clearfix">

                            <a href='/syspanel/projects/4/quotas/'  class="ajax-modal btn btn-small" data-i18n="Modify Quotas">Modify Quotas</a>

                        </li>

                        <li class="clearfix">

                            <button  class="btn btn-small btn-danger btn-delete" name="action" value="tenants__delete__4" type="submit" data-i18n="Delete Project">
                                Delete Project
                            </button>

                        </li>

                    </ul>

                </div></td>
            </tr>
            <% } %>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"><span  class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", models.length)%></span></td>
                </td>
        </tfoot>
    </table>
</script>