<script id="quotasTemplate" type="text/html">
<!--
Description: Quotas
src: templates/root/sys/quotas.html
-->
<form action="#">
    <div class='table_header'>
        <div class="table_actions clearfix">
            <div class="table_search">
                <input class="inline" value="" type="text" name="quotas__filter__q" />
                <button type="submit" class="btn btn-blue btn-small inline-block filter" data-i18n="Filter">
                    Filter
                </button>
            </div>

        </div>

    </div>

    <table id="quotas" class="table table-bordered table-striped">
        <thead>
            <tr>

                <th class="" data-i18n="Quota Name">Quota Name</th>

                <th class="" data-i18n="Limit">Limit</th>

            </tr>
        </thead>
        <tbody>
				<% var attr;
				var num_attr = 0;
				for (var i in models) {
					attr = models[i].attributes;
					for (var n in attr) {
						num_attr++;
					}
               %>
            <tr id="quotas__row__metadata_items" class="">
                <td class="">Metadata Items</td><td class=""><%= attr.metadata_items%></td>
            </tr>

            <tr id="quotas__row__injected_file_content_bytes" class="">
                <td class="">Injected File Content Bytes</td><td class=""><%= attr.injected_file_content_bytes%></td>
            </tr>

            <tr id="quotas__row__injected_files" class="">
                <td class="">Injected Files</td><td class=""><%= attr.injected_files%></td>
            </tr>

            <tr id="quotas__row__gigabytes" class="">
                <td class="">Gigabytess</td><td class=""><%= attr.gigabytes%></td>
            </tr>

            <tr id="quotas__row__ram" class="">
                <td class="">Ram</td><td class=""><%= attr.ram%></td>
            </tr>

            <tr id="quotas__row__floating_ips" class="">
                <td class="">Floating Ips</td><td class=""><%= attr.floating_ips%></td>
            </tr>

            <tr id="quotas__row__instances" class="">
                <td class="">Instances</td><td class=""><%= attr.instances%></td>
            </tr>

            <tr id="quotas__row__volumes" class="">
                <td class="">Volumes</td><td class=""><%= attr.volumes%></td>
            </tr>

            <tr id="quotas__row__cores" class="">
                <td class="">Cores</td><td class=""><%= attr.cores%></td>
            </tr>
            
            <tr id="quotas__row__cores" class="">
                <td class="">Security Groups</td><td class=""><%= attr.security_groups%></td>
            </tr>
            
            <tr id="quotas__row__cores" class="">
                <td class="">Security Group Rules</td><td class=""><%= attr.security_group_rules%></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"><span class="blue"><%=UTILS.i18n.pluralise("Displaying %s items", "Displaying %s items", num_attr)%></span></td>
                </td>
             <% } %>   
        </tfoot>
    </table>

</form>
</script>