<script id="quotasTemplate" type="text/html">
<!--
Description: Quotas
src: templates/root/sys/quotas.html
-->
    <div class='table_header' style="margin-bottom:3px">
        <div class="table_actions clearfix">
        </div>
    </div>

    <table id="quotas_head" class="table table-bordered table-striped table-header">
        <thead>
            <tr>

                <td style="width:80%" class="tip" data-tooltip="Quota's name." data-i18n="Quota Name">Quota Name</td>

                <td style="width:20%" class="tip" data-tooltip="Limits of the quota." data-i18n="Limit">Limit</td>

            </tr>
        </thead>
    </table>
    <div class="scrollable">
        <table id="quotas" class="table table-without-margins table-bordered without-borders table-striped table-scrolled">
            <tbody>
    				<% var attr;
    				attr = models[0].attributes;
                   	%>
                <tr id="quotas__row__metadata_items" class="">
                    <td style="width:80%" class="">Metadata Items</td><td style="width:20%" class=""><%= attr.metadata_items%></td>
                </tr>

                <tr id="quotas__row__injected_file_content_bytes" class="">
                    <td style="width:80%" class="">Injected File Content Bytes</td><td class=""><%= attr.injected_file_content_bytes%></td>
                </tr>

                <tr id="quotas__row__injected_files" class="">
                    <td style="width:80%" class="">Injected Files</td><td style="width:20%" class=""><%= attr.injected_files%></td>
                </tr>

                <tr id="quotas__row__gigabytes" class="">
                    <td style="width:80%" class="">Gigabytess</td><td style="width:20%" class=""><%= attr.gigabytes%></td>
                </tr>

                <tr id="quotas__row__ram" class="">
                    <td style="width:80%" class="">Ram</td><td style="width:20%" class=""><%= attr.ram%></td>
                </tr>

                <tr id="quotas__row__floating_ips" class="">
                    <td style="width:80%" class="">Floating Ips</td><td style="width:20%" class=""><%= attr.floating_ips%></td>
                </tr>

                <tr id="quotas__row__instances" class="">
                    <td style="width:80%" class="">Instances</td><td style="width:20%" class=""><%= attr.instances%></td>
                </tr>

                <tr id="quotas__row__volumes" class="">
                    <td style="width:80%" class="">Volumes</td><td style="width:20%" class=""><%= attr.volumes%></td>
                </tr>

                <tr id="quotas__row__cores" class="">
                    <td style="width:80%" class="">Cores</td><td style="width:20%" class=""><%= attr.cores%></td>
                </tr>

                <tr id="quotas__row__cores" class="">
                    <td style="width:80%" class="">Security Groups</td><td style="width:20%" class=""><%= attr.security_groups%></td>
                </tr>

                <tr id="quotas__row__cores" class="">
                    <td style="width:80%" class="">Security Group Rules</td><td style="width:20%" class=""><%= attr.security_group_rules%></td>
                </tr>
            </tbody>
        </table>
    </div>
    <table id="quotas_foot" class="table-foot table table-bordered table-striped table-without-margins">
        <tfoot>
            <tr>
                <td colspan="2"><span class="blue"><%=UTILS.i18n.pluralise("Displaying %s items", "Displaying %s items", 11)%></span></td>
                </td>
        </tfoot>
    </table>

</script>