<script id="usersForProjectTemplate" type="text/html">
<!--
Description: Users for Project
src: templates/root/sys/usersForProject.html
-->
<div id="users_for_project" class="row-fluid fill-height">
    <div class="span6 fill-height">
        <h2>Users in Project</h2>
        <div id="new-users-table"></div>
    </div>
    <div class="separation span1 fill-height">
        <br/>
        <button id="gthan">&gt</button>
        <br/>
        <button id="lthan">&lt</button>
    </div>
    <div class="span5 fill-height">
        <h2>All Users</h2>
        <div id="all-users-table"></div>
    </div>

</div>
</script>