<script id="usersTemplate" type="text/html">
<!--
Description: Users
src: templates/root/sys/users.html
-->
    <div class='table_header'>
        <div class="table_actions clearfix">

            <!--<div class="table_search">
                <input class="inline" value="" type="text" name="users__filter__q" />
                <button type="submit" class="btn btn-small btn-blue inline-block filter" data-i18n="Filter">
                    Filter
                </button>
            </div>-->

            <button class="btn btn-small btn-blue btn-create" data-i18n="Create User">Create User</a>

            <button class='btn btn-small btn-danger btn-delete-group' id='users_delete' disabled="disabled" name="action" value="users__delete" type="submit" data-i18n="Delete Users">
                Delete Users
            </button>

        </div>

    </div>

    <table id="users" class="table table-bordered table-striped">
        <thead>
            <tr>

                <th class="multi_select_column">
                	<input type="checkbox" class="checkbox checkbox_all">
                </th>

                <th class="tip" data-tooltip="User's name." data-i18n="Name">Name</th>

                <th class="tip" data-tooltip="User's email address" data-i18n="Email">Email</th>

                <th class="tip" data-tooltip="Check if the user is enabled." data-i18n="Enabled">Enabled</th>

                <th class="actions_column hidden-phone" data-i18n="Actions">Actions</th>

            </tr>
        </thead>
        <tbody>
            <% for (var index in models) {
            var user = models[index];
            %>
            <tr id="users__row__" class="">
                <td class="multi_select_column">
                    <input type="checkbox" name="object_ids" class="checkbox checkbox_users" value="<%= user.get('id') %>" />
                </td>
                <td class=""><%= user.get('name')%></td>
                <td class=""><%= user.get('email')%></td>
                <td class="status_up"><%= user.get('enabled')%></td>
                <td class="actions_column hidden-phone">
                <div class="btn-group">

                    <button class="btn btn-small btn-blue btn-edit" value="<%=user.get('id')%>" tdata-i18n="Edit">Edit</button>

                    <a class="btn dropdown-toggle btn-small btn-blue" data-toggle="dropdown" href="#"> <span class="caret caret-white"></span> </a>
                    <ul class="dropdown-menu row_actions clearfix">

                        <li class="clearfix">
                            <% if (user.get("enabled")) {
                                %>
                            <button  class="btn btn-small btn-disable" name="action" value="<%=user.get('id')%>" type="submit" data-i18n="Disable">
                                Disable
                            </button>
                            <% } else { %>
                            <button  class="btn btn-small btn-enable" name="action" value="<%=user.get('id')%>" type="submit" data-i18n="Enable">
                                Enable
                            </button>
                            <% } %>

                        </li>

                        <li class="clearfix">

                            <button  class="btn btn-small btn-danger btn-delete" name="action" value="<%=user.get('id')%>" type="submit" data-i18n="Delete User">
                                Delete User
                            </button>

                        </li>

                    </ul>

                </div></td>
            </tr>

            <% }
            %>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"><span class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", models.length)%></span></td>
                </td>
        </tfoot>
    </table>
</script>