<script id="usersTemplate" type="text/html">
<!--
Description: Users
src: templates/root/sys/users.html
-->
<form action="#">
    <div class='table_header'>
        <div class="table_actions clearfix">

            <div class="table_search">
                <input class="inline" value="" type="text" name="users__filter__q" />
                <button type="submit" class="btn btn-small btn-blue inline-block filter" data-i18n="Filter">
                    Filter
                </button>
            </div>

            <a href='/syspanel/users/create/'  class="btn btn-small ajax-modal" data-i18n="Create User">Create User</a>

            <button class='btn btn-small btn-danger' name="action" value="users__delete" type="submit" data-i18n="Delete Users">
                Delete Users
            </button>

        </div>

    </div>

    <table id="users" class="table table-bordered table-striped">
        <thead>
            <tr>

                <th class="multi_select_column"></th>

                <th class="" data-i18n="Id">Id</th>

                <th class="" data-i18n="Name">Name</th>

                <th class="" data-i18n="Email">Email</th>

                <th class="" data-i18n="Enabled">Enabled</th>

                <th class="actions_column hidden-phone" data-i18n="Actions">Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr id="users__row__" class="">
                <td class="multi_select_column">
                <input type="checkbox" name="object_ids" value="1" />
                </td>
                <td class="">1</td>
                <td class="">admin</td>
                <td class="">None</td>
                <td class="status_up">True</td>
                <td class="actions_column hidden-phone">
                <div class="btn-group">

                    <a href='/syspanel/users/1/update/'  class="btn btn-small btn-blue ajax-modal" data-i18n="Edit">Edit</a>

                    <a class="btn dropdown-toggle btn-small btn-blue" data-toggle="dropdown" href="#"> <span class="caret caret-white"></span> </a>
                    <ul class="dropdown-menu row_actions clearfix">

                        <li class="clearfix">

                            <button  class="btn btn-small" name="action" value="users__disable__1" type="submit" data-i18n="Disable">
                                Disable
                            </button>

                        </li>

                    </ul>

                </div></td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"><span class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", 1)%></span></td>
                </td>
        </tfoot>
    </table>

</form>
</script>