<script id="usersForProjectTemplate" type="text/html">
<!--
Description: Users for Project
src: templates/root/sys/usersForProject.html
-->
<div id="users_for_project">
    <div class='table_header'>
        <div class="table_actions clearfix">

            <div class="table_search">
                <input class="inline" value="" type="text" name="users__filter__q" />
                <button type="submit" class="btn btn-small btn-blue inline-block filter" data-i18n="Filter">
                    Filter
                </button>
            </div>

            <button class="btn btn-small btn-blue btn-create" data-i18n="Create User">Create User</a>

            <button class='btn btn-small btn-danger btn-delete-group' id='users_delete' disabled="disabled" name="action" value="users__delete" type="submit" data-i18n="Delete Users">
                Delete Users
            </button>

        </div>

    </div>

    <table id="users" class="table table-bordered table-striped">
        <thead>
            <tr>

                <th class="multi_select_column">
                	<input type="checkbox" class="checkbox checkbox_all">
                </th>

                <th class="" data-i18n="Id">Id</th>

                <th class="" data-i18n="Name">Name</th>

                <th class="" data-i18n="Email">Email</th>

                <th class="" data-i18n="Enabled">Enabled</th>

                <th class="actions_column hidden-phone" data-i18n="Actions">Actions</th>

            </tr>
        </thead>
        <tbody>
            <%
            for (var index in models) {
            var user = models[index];
            %>
            <tr id="users__row__" class="">
                <td class="multi_select_column">
                <input type="checkbox" name="object_ids" class="checkbox checkbox_users" value="1" />
                </td>
                <td class=""><%=user.get('id')%></td>
                <td class=""><%=user.get('name')%></td>
                <td class=""><%=user.get('email')%></td>
                <td class="status_up"><%=user.get('enabled')%></td>
                <td class="actions_column hidden-phone">
                <div class="btn-group">

                    <button class="btn btn-small btn-blue btn-edit" data-i18n="Edit">Edit</button>

                    <a class="btn dropdown-toggle btn-small btn-blue" data-toggle="dropdown" href="#"> <span class="caret caret-white"></span> </a>
                    <ul class="dropdown-menu row_actions clearfix">

                        <li class="clearfix">

                            <button  class="btn btn-small btn-disable" name="action" value="users__disable__1" type="submit" data-i18n="Disable">
                                Disable
                            </button>

                        </li>

                        <li class="clearfix">

                            <button  class="btn btn-small btn-danger btn-delete" name="action" value="tenants__delete__4" type="submit" data-i18n="Delete User">
                                Delete User
                            </button>

                        </li>

                    </ul>

                </div></td>
            </tr>
            <%
        }
        %>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"><span class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", 1)%></span></td>
                </td>
        </tfoot>
    </table>
</div>
<div id="add_new_users">
    <div class='table_header'>
        <div class="table_actions clearfix">

            <div class="table_search">
                <input class="inline" value="" type="text" name="users__filter__q" />
                <button type="submit" class="btn btn-small btn-blue inline-block filter" data-i18n="Filter">
                    Filter
                </button>
            </div>

            <button class="btn btn-small btn-blue btn-create" data-i18n="Create User">Create User</a>

            <button class='btn btn-small btn-danger btn-delete-group' id='users_delete' disabled="disabled" name="action" value="users__delete" type="submit" data-i18n="Delete Users">
                Delete Users
            </button>

        </div>

    </div>

    <table id="users" class="table table-bordered table-striped">
        <thead>
            <tr>

                <th class="multi_select_column">
                    <input type="checkbox" class="checkbox checkbox_all">
                </th>

                <th class="" data-i18n="Id">Id</th>

                <th class="" data-i18n="Name">Name</th>

                <th class="" data-i18n="Email">Email</th>

                <th class="" data-i18n="Enabled">Enabled</th>

                <th class="actions_column hidden-phone" data-i18n="Actions">Actions</th>

            </tr>
        </thead>
        <tbody>
        <%
            console.log(users);
            for (var index2 in users) {
            var user2 = users[index2];
            %>
            <tr id="users__row__" class="">
                <td class="multi_select_column">
                <input type="checkbox" name="object_ids" class="checkbox checkbox_users" value="1" />
                </td>
                <td class=""><%=user2.get('id')%></td>
                <td class=""><%=user2.get('name')%></td>
                <td class=""><%=user2.get('email')%></td>
                <td class="status_up"><%=user2.get('enabled')%></td>
                <td class="actions_column hidden-phone">
                <div class="btn-group">

                    <button class="btn btn-small btn-blue btn-edit" data-i18n="Edit">Edit</button>

                    <a class="btn dropdown-toggle btn-small btn-blue" data-toggle="dropdown" href="#"> <span class="caret caret-white"></span> </a>
                    <ul class="dropdown-menu row_actions clearfix">

                        <li class="clearfix">

                            <button  class="btn btn-small btn-disable" name="action" value="users__disable__1" type="submit" data-i18n="Disable">
                                Disable
                            </button>

                        </li>

                        <li class="clearfix">

                            <button  class="btn btn-small btn-danger btn-delete" name="action" value="tenants__delete__4" type="submit" data-i18n="Delete User">
                                Delete User
                            </button>

                        </li>

                    </ul>

                </div></td>
            </tr>
            <%
        }
        %>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"><span class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", 1)%></span></td>
                </td>
        </tfoot>
    </table>
 </div>
</script>