<script id="not_logged_in" type="text/html">
<!--
    Description: Login page
    src: templates/auth/login.html
-->

<div id="splashdiv">
    <h3 data-i18n="Log In">Log In</h3>
	<form href="#">
		<div class="clearfix">
			<% if (has('error_msg')) { %>
				<div class="alert alert-block alert-error fade in">
					<a class="close" data-dismiss="alert">&times;</a>
					<p><strong><%= get('error_msg') %></p>
				</div>
			<% } %>
			<% if (!UTILS.Auth.isIDM()) { %>
			<fieldset>
				<div class="clearfix">
					<input class="input-login" type="text" name="username" maxlength="255" placeholder="User Name" />
				</div>
				<div class="clearfix">
					<input class="input-login" id="id_password" type="password"  name="password" maxlength="255" placeholder="Password" />
				</div>
			</fieldset>
			<% } %>
			<button id="home_loginbtn" class="btn btn-blue pull-right credentials" data-i18n="Sign In">Sign In</button>
		</div>
	</form>
</div>
</script>