<script id="novaInstancesTemplate" type="text/html">
<!--
Description: Instances
src: templates/root/nova/instancesAndVolumes/instances.html
-->
    <div class='table_header'>
        <div class="table_actions clearfix">
            <a href='#nova/images/'  id="instances__action_launch__1" class="btn btn-small btn-blue btn-launch" data-i18n="Launch New Instance">Launch New Instance</a>

            <div id="dropdown_actions" class="btn-group">

                <button class="btn btn-small btn-blue" data-toggle="dropdown" tdata-i18n="Actions">Actions
                </button>

                <a class="btn dropdown-toggle btn-small btn-blue" data-toggle="dropdown"> <span class="caret caret-white"></span>
                </a>

                    <ul id="dropdown_options" class="dropdown-menu row_actions clearfix">

                        <li class="clearfix">

                            <button  class="btn btn-small btn-edit-instance-actions" disabled="disabled" data-i18n="Edit Instance">Edit Instance
                            </button>
                        </li>

                        <li class="clearfix">

                            <button class="btn btn-small btn-vnc-actions" disabled="disabled" data-i18n="VNC Console" >VNC Console
                            </button>
                        </li>

                        <li class="clearfix">

                            <button  class="btn btn-small btn-log-actions" disabled="disabled" data-i18n="View Log">View Log
                            </button>
                        </li>

                        <li class="clearfix">

                            <button class="btn btn-small btn-snapshot-actions" disabled="disabled" data-i18n="Create Snapshot">Create Snapshot
                            </button>
                        </li>

                        <li class="clearfix">

                            <button class="btn btn-small btn-pause-actions" disabled="disabled" data-i18n="Pause Instance">Pause Instance
                            </button>
                        </li>

                        <li class="clearfix">

                            <button class="btn btn-small btn-unpause-actions" disabled="disabled" data-i18n="Unpause Instance">Unpause Instance
                            </button>
                        </li>

                        <li class="clearfix">

                            <button class="btn btn-small btn-suspend-actions" disabled="disabled" data-i18n="Suspend Instance">Suspend Instance
                            </button>
                        </li>

                        <li class="clearfix">

                            <button class="btn  btn-blue btn-small btn-resume-actions" disabled="disabled" data-i18n="Resume Instance">Resume Instance
                            </button>
                        </li>

                        <li class="clearfix danger">

                            <button class="btn btn-small btn-danger btn-password-actions" disabled="disabled" data-i18n="Change Password">Change Password
                            </button>
                        </li>

                        <li class="clearfix danger">

                            <button class="btn btn-small btn-danger btn-reboot-actions" disabled="disabled" data-i18n="Reboot Instance">Reboot Instance
                            </button>
                        </li>

                        <li class="clearfix danger">
                            <button class="btn btn-small btn-danger btn-terminate-actions" disabled="disabled" data-i18n="Terminate Instance">Terminate Instance
                            </button>
                        </li>
                    </ul>

                </div>

            <!--<button  id="instances_terminate" disabled=true class="btn btn-small btn-danger btn-terminate-group" name="action" value="instances__terminate" class="instances_terminate" type="submit" data-i18n="Terminate Instances">
                Terminate Instances
            </button>-->
        </div>
    </div>
    <table id="instances_head" class="table table-bordered table-striped table-header">
        <thead>
            <tr>
                <td style="width:5%" class="multi_select_column">
                    <input type="checkbox" class="checkbox checkbox_all">
                </td>
                <td style="width:15%" class="tip" data-tooltip="Server's name" data-i18n="Instance Name">Instance Name</td>
                <td style="width:10%" class="hidden-phone tip" data-tooltip="IP addresses of the server" data-i18n="IP Address">IP Address</td>
                <td style="width:15%" class="tip" data-tooltip="Server's RAM, number of virtual CPUs, and user disk." data-i18n="Size">Size</td>
                <td style="width:10%" class="tip" data-tooltip="Current server status." data-i18n="Status">Status</td>
                <td style="width:5%" class="hidden-phone tip" data-tooltip="Current tasks performed on the server." data-i18n="Task">Task</td>
                <td style="width:10%" class="hidden-phone tip" data-tooltip="Server's power state." data-i18n="Power State">Power State</td>
                <td style="width:20%" class="actions_column hidden-phone" data-i18n="Actions">Actions</td>
            </tr>
        </thead>
    </table>
    <div class="scrollable">
    <table id="instances" class="table table-without-margins table-bordered without-borders table-striped table-scrolled">
        <tbody>
            <%
            var flavorlist = {};
            for (var index in flavors.models) {
                var flavor = flavors.models[index];
                flavorlist[flavor.id] = flavor.get("ram") + " MB RAM | " + flavor.get("vcpus") + " VCPU | " + flavor.get("disk") + "GB Disk";
            }
            var i = 0;
            var POWER_STATES = {
                0: "NO STATE",
                1: "RUNNING",
                2: "BLOCKED",
                3: "PAUSED",
                4: "SHUTDOWN",
                5: "SHUTOFF",
                6: "CRASHED",
                7: "SUSPENDED",
                8: "FAILED",
                9: "BUILDING"
            };
            for (var index in models) {
                i++;
                var instance = models[index];
            %>
            <tr id="instances__row__<%= instance.id %>"
            class="ajax-update status_down">
                <td style="width:5%" class="multi_select_column">
                <input id="checkbox_<%= instance.get('id')%>" type="checkbox" name="object_ids" class="checkbox checkbox_instances"  value="<%= instance.get('id') %>" />
                </td>
                <td style="width:15%" class=""><a href="#nova/instances/<%= instance.id %>/detail"><%= instance.get("name") %></a></td>
                <td style="width:10%" class="hidden-phone">
                <ul>
                    <%
                    if (instance.get("addresses") != null && (instance.get("addresses").public !== null || instance.get("addresses").private !== null)) {
                        var addresses = instance.get("addresses").public;
                        var i = 0;
                        for (var index in addresses) {
                            i++;
                            var address = addresses[index];
                    %>
                    <li>
                        <%= address.addr %>
                    </li>
                    <%  }
                        addresses = instance.get("addresses").private;
                        var i = 0;
                        for (var index2 in addresses) {
                            i++;
                            var address = addresses[index2];
                             %>
                    <li>
                        <%= address.addr %>
                    </li>
                    <%  }
                    }
                    %>
                </ul></td>
                <td style="width:15%" class=""><%=flavorlist[instance.get("flavor").id]%></td>
                <td style="width:10%" class="status_down"><%= instance.get("status") %></td>
                <td style="width:5%" class="status_unknown hidden-phone"><%= instance.get("OS-EXT-STS:task_state") ? instance.get("OS-EXT-STS:task_state") : "None"%></td>
                <td style="width:10%" class="hidden-phone"><%= POWER_STATES[instance.get("OS-EXT-STS:power_state")]%></td>
                <td style="width:20%" class="actions_column hidden-phone">
                <div id="dropdown_<%= instance.get('id') %>" class="btn-group">
                    <button  id="instances__action_e__<%=i%>" class="btn btn-blue btn-small btn-edit btn-edit-instances" name="action" value="<%= instance.id %>" type="submit" data-i18n="Edit Instance">
                        Edit Instance
                    </button>
                    <a class="btn btn-blue dropdown-toggle btn-small" data-toggle="dropdown" href="#"> <span class="caret caret-white"></span> </a>
                    <ul class="dropdown-menu row_actions clearfix">
                        <%
                        if (instance.get("status") != "ERROR") {
                            if (instance.get("status") != "PAUSED" && instance.get("status") != "SUSPENDED") {%>
                        <li class="clearfix">
                            <a  id="instances__action_vnc__<%=i%>" class="btn btn-blue btn-small btn-vnc" name="action" value="<%= instance.id %>" type="submit" data-i18n="VNC Console" href="#nova/instances/<%=instance.id%>/detail?view=vnc">
                                VNC Console
                            </a>
                        </li>
                        <li class="clearfix">
                            <a  id="instances__action_log__<%=i%>" class="btn btn-blue btn-small btn-log" name="action" value="<%= instance.id %>" type="submit" data-i18n="View Log" href="#nova/instances/<%=instance.id%>/detail?view=log">
                                View Log
                            </a>
                        </li>
                        <li class="clearfix">
                            <button  id="instances__action_snapshot__<%=i%>" class="btn btn-blue btn-small btn-snapshot" name="action" value="<%= instance.id %>" type="submit" data-i18n="Snapshot">
                                Snapshot
                            </button>
                        </li>
                        <li class="clearfix">
                            <button  id="instances__action_pause__<%=i%>" class="btn btn-blue btn-small btn-pause" name="action" value="<%= instance.id %>" type="submit" data-i18n="Pause Instance">
                                Pause Instance
                            </button>
                        </li>
                        <li class="clearfix">
                            <button  id="instances__action_suspend__<%=i%>" class="btn btn-blue btn-small btn-suspend" name="action" value="<%= instance.id %>" type="submit" data-i18n="Suspend Instance">
                                Suspend Instance
                            </button>
                        </li>
                        <li class="clearfix">
                            <button  id="instances__action_password__<%=i%>" class="btn btn-blue btn-small btn-danger btn-password" name="action" value="<%= instance.id %>" type="submit" data-i18n="Change Password">
                                Change Password
                            </button>
                        </li>
                        <li class="clearfix">
                            <button  id="instances__action_reboot__<%=i%>" class="btn btn-blue btn-small btn-danger btn-reboot" name="action" value="<%= instance.id %>" type="submit" data-i18n="Reboot Instance">
                                Reboot Instance
                            </button>
                        </li>
                        <%
                        }
                        else if (instance.get("status") == "PAUSED") {
                        %>
                        <li class="clearfix">
                            <button  id="instances__action_unpause__<%=i%>" class="btn btn-blue btn-small btn-unpause" name="action" value="<%= instance.id %>" type="submit" data-i18n="Unpause Instance">
                                Unpause Instance
                            </button>
                        </li>
                        <% } else { %>
                        <li class="clearfix">
                            <button  id="instances__action_resume__<%=i%>" class="btn  btn-blue btn-small btn-resume" name="action" value="<%= instance.id %>" type="submit" data-i18n="Resume Instance">
                                Resume Instance
                            </button>
                        </li>
                        <% } %>
                        <% } %>
                        <li class="clearfix">
                            <button  id="instances__action_terminate__<%=i%>" class="btn btn-small btn-danger btn-terminate" name="action" value="<%= instance.id %>" type="submit" data-i18n="Terminate Instance">
                                Terminate Instance
                            </button>
                        </li>
                    </ul>
                </div></td>
            </tr>
            <% } %>
        </tbody>
        </table>
    </div>
    <table id="instances_foot" class="table-foot table table-bordered table-striped table-without-margins">
        <tfoot>
            <tr>
                <td colspan="8"><span class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", models.length)%></span></td>
            </tr>
        </tfoot>
    </table>
</script>