<script id="novaInstancesTemplate" type="text/html">
<!--
    Description: Instances
    src: templates/root/nova/instancesAndVolumes/instances.html
-->
        <div class="table_wrapper">
            <div class='table_header'>
                <h3 class='table_title' data-i18n="Instances">Instances</h3>
                <div class="table_actions clearfix">
                    <a href='#nova/images_and_snapshots/'  id="instances__action_launch__1" class="btn btn-small btn-blue btn-launch" data-i18n="Launch Instance">Launch Instance</a>
                    <button  id="instances_terminate" disabled=true class="btn btn-small btn-danger btn-terminate-group" name="action" value="instances__terminate" class="instances_terminate" type="submit" data-i18n="Terminate Instance">Terminate Instances</button>
                </div>
            </div>
            <table id="instances" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="multi_select_column"></th>
                        <th class="" data-i18n="Instance Name">Instance Name</th>
                        <th class="" data-i18n="IP Address">IP Address</th>
                        <th class="" data-i18n="Size">Size</th>
                        <th class="" data-i18n="Status">Status</th>
                        <th class="" data-i18n="Task">Task</th>
                        <th class="" data-i18n="Power State">Power State</th>
                        <th class="actions_column" data-i18n="Actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                <%                 
                var flavorlist = {};
                for (var index in flavors.models) {
                    var flavor = flavors.models[index];
                    flavorlist[flavor.id] = flavor.get("ram") + " MB RAM | " + flavor.get("vcpus") + " VCPU | " + flavor.get("disk") + "GB Disk";
                }                
                var i = 0;
                var POWER_STATES = {
                    0: "NO STATE",
                    1: "RUNNING",
                    2: "BLOCKED",
                    3: "PAUSED",
                    4: "SHUTDOWN",
                    5: "SHUTOFF",
                    6: "CRASHED",
                    7: "SUSPENDED",
                    8: "FAILED",
                    9: "BUILDING"
                };
                for (var index in models) {
                    i++; 
                    var instance = models[index];
                %>              
                <tr data-update-interval="2500" 
                    data-update-url="/nova/instances_and_volumes/?action=row_update&amp;table=instances&amp;obj_id=<%= instance.id %>" 
                    id="instances__row__<%= instance.id %>" 
                    class="ajax-update status_down">
                    <td class="multi_select_column">
                        <input id="checkbox_<%= instance.get('id')%>" type="checkbox" name="object_ids" class="checkbox checkbox_instances"  value="<%= instance.get('id') %>" />
                    </td>
                    <td class="">
                        <a href="#nova/instances_and_volumes/instances/<%= instance.id %>/detail"><%= instance.get("name") %></a>
                    </td>
                    <td class="">
                        <ul>
                            <%                      
                            if (instance.get("addresses") != null && instance.get("addresses").public != null) {
                                var addresses = instance.get("addresses").public;
                                var i = 0;
                                for (var index in addresses) {
                                    i++; 
                                    var address = addresses[index];
                            %>
                            <li><%= address.addr %></li>
                            <% }} %>
                        </ul>
                    </td>
                    <td class=""><%=flavorlist[instance.get("flavor").id]%></td>
                    <td class="status_down"><%= instance.get("status") %></td>
                    <td class="status_unknown"><%= instance.get("OS-EXT-STS:task_state") ? instance.get("OS-EXT-STS:task_state") : "None"%></td>
                    <td class=""><%= POWER_STATES[instance.get("OS-EXT-STS:power_state")]%></td>
                    <td class="actions_column">
                        <div id="dropdown_<%= instance.get('id') %>" class="btn-group">
                            <button  id="instances__action_e__<%=i%>" class="btn btn-blue btn-small btn-edit btn-edit-instances" name="action" value="<%= instance.id %>" type="submit" data-i18n="Edit Instance">Edit Instance</button>
                            <a class="btn btn-blue dropdown-toggle btn-small" data-toggle="dropdown" href="#">
                                <span class="caret caret-white"></span>
                            </a>
                            <ul class="dropdown-menu row_actions clearfix">
                                <% 
                                if (instance.get("status") != "ERROR") { 
                                    if (instance.get("status") != "PAUSED" && instance.get("status") != "SUSPENDED") {%>
                                    <li class="clearfix">
                                        <button  id="instances__action_vnc__<%=i%>" class="btn btn-blue btn-small btn-vnc" name="action" value="<%= instance.id %>" type="submit" data-i18n="VNC Console">VNC Console</button>
                                    </li>
                                    <li class="clearfix">
                                        <button  id="instances__action_log__<%=i%>" class="btn btn-blue btn-small btn-log" name="action" value="<%= instance.id %>" type="submit" data-i18n="View Log">View Log</button>
                                    </li>
                                    <li class="clearfix">
                                        <button  id="instances__action_snapshot__<%=i%>" class="btn btn-blue btn-small btn-snapshot" name="action" value="<%= instance.id %>" type="submit" data-i18n="Snapshot">Snapshot</button>
                                    </li>
                                    <li class="clearfix">
                                        <button  id="instances__action_pause__<%=i%>" class="btn btn-blue btn-small btn-pause" name="action" value="<%= instance.id %>" type="submit" data-i18n="Pause Instance">Pause Instance</button>
                                    </li>
                                    <li class="clearfix">
                                        <button  id="instances__action_suspend__<%=i%>" class="btn btn-blue btn-small btn-suspend" name="action" value="<%= instance.id %>" type="submit" data-i18n="Suspend Instance">Suspend Instance</button>
                                    </li>
                                    <li class="clearfix">
                                        <button  id="instances__action_password__<%=i%>" class="btn btn-blue btn-small btn-danger btn-password" name="action" value="<%= instance.id %>" type="submit" data-i18n="Change Password">Change Password</button>
                                    </li>
                                    <li class="clearfix">
                                        <button  id="instances__action_reboot__<%=i%>" class="btn btn-blue btn-small btn-danger btn-reboot" name="action" value="<%= instance.id %>" type="submit" data-i18n="Reboot Instance">Reboot Instance</button>
                                    </li>
                                     <% } else if (instance.get("status") == "PAUSED") { %>
                                    <li class="clearfix">
                                        <button  id="instances__action_unpause__<%=i%>" class="btn btn-blue btn-small btn-unpause" name="action" value="<%= instance.id %>" type="submit" data-i18n="Unpause Instance">Unpause Instance</button>
                                    </li>    
                                    <% } else { %>
                                    <li class="clearfix">
                                        <button  id="instances__action_resume__<%=i%>" class="btn  btn-blue btn-small btn-resume" name="action" value="<%= instance.id %>" type="submit" data-i18n="Resume Instance">Resume Instance</button>
                                    </li> 
                                    <% } %>  
                                <% } %>
                                <li class="clearfix">
                                    <button  id="instances__action_terminate__<%=i%>" class="btn btn-small btn-danger btn-terminate" name="action" value="<%= instance.id %>" type="submit" data-i18n="Terminate Instance">Terminate Instance</button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>                
                <% } %>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="8">
                      <span class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", models.length)%></span>                      
                    </td>
                  </td>
                </tfoot>
            </table>
    </div>
</script>