<script id="novaVolumesTemplate" type="text/html">
<!--
Description: Volumes
src: templates/root/nova/instancesAndVolumes/volumes.html
-->
<div id="volumes" class="table_wrapper">
    <div style='display:none'></div>
    <div class='table_header'>
        <h3 class='table_title'>Volumes</h3>
        <div class="table_actions clearfix">
            <button id="volumes_create" class="btn btn-small ajax-modal btn-create-volume btn-blue" name="action" value="volumes__create" type="submit" data-i18n="Create Volume">
                Create Volume
            </button>

            <div id="dropdown_actions" class="btn-group">

                <button class="btn btn-small btn-blue" data-toggle="dropdown" tdata-i18n="Actions">Actions</button>

                <a class="btn dropdown-toggle btn-small btn-blue" data-toggle="dropdown"> <span class="caret caret-white"></span>
                </a>

                <ul id="dropdown_options" class="dropdown-menu row_actions clearfix">

                    <li class="clearfix">
                        <button class="btn btn-small btn-edit-attachments-actions" disabled="disabled" tdata-i18n="Edit Attachments">Edit Attachments
                        </button>
                    </li>

                    <li class="clearfix">

                        <button class="btn btn-small btn-create-snapshot-actions" disabled="disabled" tdata-i18n="Create Snapshot">Create Snapshot
                        </button>
                    </li>

                    <li class="clearfix">

                        <button class="btn btn-small btn-danger btn-delete-volume-actions" disabled="disabled" tdata-i18n="Delete Volumes">Delete Volumes
                        </button>
                    </li>
                </ul>
           
            </div>

            <!--<button id="volumes_delete" disabled=true class="btn btn-small btn-danger btn-delete-group" name="action" value="volumes__delete" class="volumes_delete" type="submit" data-i18n="Delete Volume">
                Delete Volumes
            </button>-->
        </div>
    </div>
    <table id="volumes" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="multi_select_column">
                    <input type="checkbox" class="checkbox checkbox_all">
                </th>
                <th class="tip" data-tooltip="Volume's name.">Name</th>
                <th class="hidden-phone tip" data-tooltip="Volume's description.">Description</th>
                <th class="tip" data-tooltip="Current volume size.">Size</th>
                <th class="tip" data-tooltip="Current volume status (available, none, ...).">Status</th>
                <th class="tip" data-tooltip="Servers the snapshot is attached to.">Attachments</th>
                <th class="actions_column hidden-phone">Actions</th>
            </tr>
        </thead>
        <tbody>
            <%
            var i = 0;
            for (var index in models) {
            i++;
            var volume = models[index];
            %>
            <tr id="volumes__row__<%=volume.id%>" class="status_up">
                <td class="multi_select_column">
                <input id="checkbox_<%= volume.get('id')%>" type="checkbox" name="object_ids" class="checkbox checkbox_volumes"  value="<%= volume.get('id') %>" />
                </td>
                <td class=""><a href="#nova/instances_and_volumes/volumes/<%=volume.id%>/detail"><%= (volume.get("display_name") !== '' && volume.get("display_name")!== null) ? volume.get("display_name"):'-'%></a></td>
                <td class="hidden-phone"><%= (volume.get("display_description") !== '' && volume.get('display_description')!== null) ? volume.get("display_description"):'-'%></td>
                <td class=""><%= volume.get("size")%> GB</td>
                <td class="status_unknown"><%= volume.get("status")%></td>
                <td class=""><%= (volume.get("attachments").length == 0) ? "-": volume.get("attachments").length%></td>
                <td class="actions_column hidden-phone"> <% if (volume.get("status") != "error") {%>
                <div id="dropdown_<%= volume.get('id') %>" class="btn-group">
                    <a id="volumes__row_<%= volume.get("id")%>__action_attachments" value="<%= volume.id %>" class="btn btn-blue ajax-modal btn-edit btn-small btn-edit-volumes ellipsis w120">Edit Attachments</a>
                    <% if (volume.get("status") != "in-use") {%>
                    <a class="btn dropdown-toggle ajax-modal btn-edit btn-blue btn-small" data-toggle="dropdown" href="#"> <span class="caret caret-white"></span> </a>

                    <ul class="dropdown-menu row_actions clearfix">
                        <li class="clearfix">
                            <button value="<%= volume.id %>" id="volumes__row_<%= volume.get("id")%>__action_snapshots" class="btn btn-small ajax-modal btn-camera">
                                Create Snapshot
                            </button>
                        </li>
                        <li class="clearfix">
                            <button id="volumes__row_<%= volume.get("id")%>__action_delete" class="btn btn-small btn-danger btn-delete-volume" name="action" value="<%= volume.get("id")%>" type="submit">
                                Delete Volume
                            </button>
                        </li>
                    </ul>
                    <% }%>
                </div> <% } else { %>
                <button "volumes__row_<%= volume.get("id")%>__action_delete" class="btn btn-small btn-danger btn-delete-volume" name="action" value="<%= volume.get("id")%>" type="submit" data-i18n="Delete Volume">
                    Delete Volume
                </button> <%}%> </td>
            </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7"><span class="blue"><%=UTILS.i18n.pluralise("Displaying %s item", "Displaying %s items", models.length)%></span></td>
            </tr>
        </tfoot>
    </table>
</div>
</script>