<script id="objectstorageContainersTemplate" type="text/html">
<!--
Description: Containers
src: templates/root/objectstorage/containers.html
-->
	<div class="table_wrapper">
    	<div class='table_header'>
        	<h3 class="table_title">Containers</h3>
	        <div class="table_actions clearfix">
	            <button id="containers__action_create" class="btn btn-small btn-blue btn-launch btn-create-container">
	                Create Container
	            </button>
	            <button id="containers_terminate" class="btn btn-small btn-danger btn-delete-group" disabled="disabled" name="action" value="containers__delete" type="submit">
	                Delete Containers
	            </button>
	        </div>
	     </div>
	 </div>
        <table id="containers" class="table table-bordered table-striped">
            <thead>               
                <tr>
                    <th class="multi_select_column">
                		<input type="checkbox" class="checkbox checkbox_all">
                	</th>
                    <th class="">Container Name</th>
                    <th class="">Objects</th>
                    <th class="">Size</th>
                    <th class="actions_column">Actions</th>
                </tr>
            </thead>
            <tbody>
                <%
                for (var index in models) {
                    var container = models[index];
                    var bytes = container.get("bytes");
                   	var kbytes, mbytes, gbytes, size;
                    if (bytes >= 1024) {
                   		kbytes = Math.round(bytes/1024 * 10) / 10;
                   		size = kbytes+" KB";
                   		if (kbytes >= 1024) {
                   			mbytes = Math.round(kbytes/1024 * 10) / 10;
                   			size = mbytes+" MB";
                   			if (mbytes >= 1024) {
                   				gbytes = Math.round(mbytes/1024 * 10) / 10;
                   				size = gbytes+" GB";
                   			} else {size = Math.round(mbytes * 10) / 10+" MB";}
                   		} else {size = Math.round(kbytes* 10) / 10+" KB";}
                    } else {size = Math.round(bytes * 10) / 10+" bytes";}
                %>   
                    <tr id="containers__row__<%= container.name%>" class="" style="">
                    <td class="multi_select_column">
                        <input id="checkbox_<%= container.get('name')%>" type="checkbox" name="object_ids" class="checkbox checkbox_containers"  value="<%= container.get('name') %>" />
                    </td>
                    <td class=""><a href="#objectstorage/containers/<%= container.get('name')%>/"><%= container.get("name")%></a></td>
                    <td class=""><%= container.get("count")%></td>
                    <td class=""><%= size%></td>
                    <td class="actions_column">
                    <div class="btn-group">
                        <a href="#objectstorage/containers/<%= container.get("name")%>/" id="containers__row_<%= container.name%>__action_list_objects" class="ajax-modal btn btn-small btn-blue btn-list-objects">List Objects</a>
                        <a class="btn dropdown-toggle btn-small btn-blue" data-toggle="dropdown" href="#">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu row_actions clearfix">
                            <li class="clearfix"><button class="ajax-modal btn btn-small ajax-modal btn-upload" name = "action" type = "submit" value="<%= container.get("name")%>">Upload Object</button></li>
                            <li class="clearfix"><button id="containers__row_hola__action_delete" class="btn btn-small btn-danger btn-delete" name="action" value="<%=container.get("name")%>" type="submit">Delete Container</button></li>
                        </ul>
                    </div>
                    </td>
                <%
                }
                %>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                	<span class="blue">Displaying <%= models.length %> items</span>
                </td>
            </tr>
        </tfoot>
    </table>

</script>